engine-strict=true

# https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol=rolling

# https://pnpm.io/npmrc#save-prefix
save-prefix='~'

registry=https://artifactory.srv.westpac.com.au/artifactory/api/npm/A0033F_WestpacLive_npm_virtual
cafile=~/.npm/wbc-ssl-ca-trust.pem
strict-ssl=false
