.reserved {
  --reserved-green-50: #f2f9f2;
  --reserved-green-100: #d9ecd9;
  --reserved-green-200: #99cc99;
  --reserved-green-300: #47a447;
  --reserved-green-400: #249224;
  --reserved-green-500: #008000;
  --reserved-green-600: #006d00;
  --reserved-green-700: #005a00;
  --reserved-green-800: #004600;
  --reserved-green-900: #003300;
  --reserved-green-950: #002000;
  --reserved-blue-50: #f2f8fc;
  --reserved-blue-100: #d9eaf6;
  --reserved-blue-200: #99c7e7;
  --reserved-blue-300: #459ad4;
  --reserved-blue-400: #2487cc;
  --reserved-blue-500: #0074c4;
  --reserved-blue-600: #0063a7;
  --reserved-blue-700: #005189;
  --reserved-blue-800: #00406c;
  --reserved-blue-900: #002e4e;
  --reserved-blue-950: #001d31;
  --reserved-orange-50: #fcf5f2;
  --reserved-orange-100: #f3d8cc;
  --reserved-orange-200: #e8b199;
  --reserved-orange-300: #d7784f;
  --reserved-orange-400: #ce5826;
  --reserved-orange-500: #c53b00;
  --reserved-orange-600: #a73200;
  --reserved-orange-700: #8a2900;
  --reserved-orange-800: #6c2000;
  --reserved-orange-900: #4f1800;
  --reserved-orange-950: #310f00;
  --reserved-red-50: #fcf2f2;
  --reserved-red-100: #f9e6e6;
  --reserved-red-200: #eaa6a6;
  --reserved-red-300: #db6363;
  --reserved-red-400: #d03333;
  --reserved-red-500: #c40000;
  --reserved-red-600: #a70000;
  --reserved-red-700: #890000;
  --reserved-red-800: #6c0000;
  --reserved-red-900: #4e0000;
  --reserved-red-950: #310000;
  --reserved-yellow-50: #fffff2;
  --reserved-yellow-100: #ffffe6;
  --reserved-yellow-200: #ffffbf;
  --reserved-yellow-300: #ffff80;
  --reserved-yellow-400: #ffff40;
  --reserved-yellow-500: #ffff00;
  --reserved-yellow-600: #d9d900;
  --reserved-yellow-700: #b3b300;
  --reserved-yellow-800: #8c8c00;
  --reserved-yellow-900: #666600;
  --reserved-yellow-950: #404000;
}

.wbc {
  --wbc-grey-50: #f9f9fa;
  --wbc-grey-100: #f5f5f6;
  --wbc-grey-200: #dedee1;
  --wbc-grey-300: #b6b6bc;
  --wbc-grey-400: #8e8d98;
  --wbc-grey-500: #706f7c;
  --wbc-grey-600: #3e3d44;
  --wbc-grey-700: #323238;
  --wbc-grey-800: #27272b;
  --wbc-grey-900: #1c1c1f;
  --wbc-grey-950: #161619;
  --wbc-red-50: #fff0f0;
  --wbc-red-100: #facccb;
  --wbc-red-200: #f46e69;
  --wbc-red-300: #f1423c;
  --wbc-red-400: #ee221b;
  --wbc-red-500: #da1710;
  --wbc-red-600: #b9140e;
  --wbc-red-700: #99100b;
  --wbc-red-800: #780d09;
  --wbc-red-900: #570906;
  --wbc-red-950: #370604;
  --wbc-red-opacity: rgba(218, 23, 16, 0.5);
  --wbc-pink-50: #fff5fd;
  --wbc-pink-100: #ffecfb;
  --wbc-pink-200: #ffcff6;
  --wbc-pink-300: #ff9eed;
  --wbc-pink-400: #ff6ee4;
  --wbc-pink-500: #ff3ddb;
  --wbc-pink-600: #d934ba;
  --wbc-pink-700: #b32b99;
  --wbc-pink-800: #8c2278;
  --wbc-pink-900: #59154d;
  --wbc-pink-950: #330c2c;
  --wbc-pink-opacity: rgba(255, 61, 219, 0.45);
  --wbc-navy-50: #f1f0fa;
  --wbc-navy-100: #e2e1f4;
  --wbc-navy-200: #a9a5df;
  --wbc-navy-300: #6f69c9;
  --wbc-navy-400: #423c97;
  --wbc-navy-500: #1f1c4f;
  --wbc-navy-600: #18144d;
  --wbc-navy-700: #130f48;
  --wbc-navy-800: #0d093e;
  --wbc-navy-900: #090538;
  --wbc-navy-950: #060236;
  --wbc-navy-opacity: rgba(58, 52, 147, 0.6);
  --wbc-purple-50: #faf1fd;
  --wbc-purple-100: #ebcdf9;
  --wbc-purple-200: #ce84f0;
  --wbc-purple-300: #bc57eb;
  --wbc-purple-400: #ad32e6;
  --wbc-purple-500: #991ad6;
  --wbc-purple-600: #8717ba;
  --wbc-purple-700: #70139b;
  --wbc-purple-800: #5c0f7f;
  --wbc-purple-900: #450c5f;
  --wbc-purple-950: #2e0840;
  --wbc-purple-opacity: rgba(153, 26, 214, 0.5);
  --wbc-dark-red-50: #faf2f2;
  --wbc-dark-red-100: #f5e5e5;
  --wbc-dark-red-200: #e6bfbf;
  --wbc-dark-red-300: #cc8080;
  --wbc-dark-red-400: #b34040;
  --wbc-dark-red-500: #990000;
  --wbc-dark-red-600: #820000;
  --wbc-dark-red-700: #6b0000;
  --wbc-dark-red-800: #540000;
  --wbc-dark-red-900: #3d0000;
  --wbc-dark-red-950: #260000;
  --wbc-dark-red-opacity: rgba(153, 0, 0, 0.5);
  --wbc-orange-50: #fff8f3;
  --wbc-orange-100: #fef2e7;
  --wbc-orange-200: #fddec3;
  --wbc-orange-300: #fabc87;
  --wbc-orange-400: #f89b4b;
  --wbc-orange-500: #f57a0f;
  --wbc-orange-600: #d0680d;
  --wbc-orange-700: #ac550b;
  --wbc-orange-800: #874308;
  --wbc-orange-900: #623106;
  --wbc-orange-950: #3d1f04;
  --wbc-orange-opacity: rgba(245, 122, 15, 0.45);
}

.stg {
  --stg-grey-50: #f9f9f9;
  --stg-grey-100: #f5f5f4;
  --stg-grey-200: #e1e1e0;
  --stg-grey-300: #b2b2ae;
  --stg-grey-400: #8d8c81;
  --stg-grey-500: #727163;
  --stg-grey-600: #5e5d55;
  --stg-grey-700: #4c4c48;
  --stg-grey-800: #393937;
  --stg-grey-900: #242424;
  --stg-grey-950: #171717;
  --stg-red-50: #fef2f2;
  --stg-red-100: #fce6e6;
  --stg-red-200: #f8bfbf;
  --stg-red-300: #f18080;
  --stg-red-400: #ea4040;
  --stg-red-500: #e30000;
  --stg-red-600: #c10000;
  --stg-red-700: #9f0000;
  --stg-red-800: #7d0000;
  --stg-red-900: #5b0000;
  --stg-red-950: #390000;
  --stg-red-opacity: rgba(227, 0, 0, 0.3);
  --stg-access-green-50: #e1f6e4;
  --stg-access-green-100: #cbeed2;
  --stg-access-green-200: #76c888;
  --stg-access-green-300: #2fa854;
  --stg-access-green-400: #219d4b;
  --stg-access-green-500: #008739;
  --stg-access-green-600: #007330;
  --stg-access-green-700: #005f28;
  --stg-access-green-800: #004a1f;
  --stg-access-green-900: #003617;
  --stg-access-green-950: #00220e;
  --stg-access-green-opacity: rgba(0, 135, 57, 0.45);
  --stg-green-50: #f8fcf4;
  --stg-green-100: #f2f9e9;
  --stg-green-200: #ddefc7;
  --stg-green-300: #bcdf90;
  --stg-green-400: #9ace58;
  --stg-green-500: #78be20;
  --stg-green-600: #66a21b;
  --stg-green-700: #548516;
  --stg-green-800: #426912;
  --stg-green-900: #304c0d;
  --stg-green-950: #1e3008;
  --stg-green-opacity: rgba(120, 190, 32, 0.45);
  --stg-sky-50: #f5fcfe;
  --stg-sky-100: #ecf9fd;
  --stg-sky-200: #cff0fa;
  --stg-sky-300: #a9e4f6;
  --stg-sky-400: #6fd2f0;
  --stg-sky-500: #3fc3eb;
  --stg-sky-600: #36a6c8;
  --stg-sky-700: #2c89a5;
  --stg-sky-800: #236b81;
  --stg-sky-900: #194e5e;
  --stg-sky-950: #10313b;
  --stg-sky-opacity: rgba(63, 195, 235, 0.3);
  --stg-plum-50: #f6f5f8;
  --stg-plum-100: #eeeaf2;
  --stg-plum-200: #d3cbde;
  --stg-plum-300: #a896bc;
  --stg-plum-400: #7c629b;
  --stg-plum-500: #502d79;
  --stg-plum-600: #442667;
  --stg-plum-700: #381f55;
  --stg-plum-800: #2c1943;
  --stg-plum-900: #201230;
  --stg-plum-950: #140b1e;
  --stg-plum-opacity: rgba(80, 45, 121, 0.3);
  --stg-amber-50: #fff9f4;
  --stg-amber-100: #fff2ea;
  --stg-amber-200: #ffdfca;
  --stg-amber-300: #ffbf94;
  --stg-amber-400: #ff9f5f;
  --stg-amber-500: #ff7f29;
  --stg-amber-600: #d96c23;
  --stg-amber-700: #b3591d;
  --stg-amber-800: #8c4617;
  --stg-amber-900: #663310;
  --stg-amber-950: #40200a;
  --stg-amber-opacity: rgba(255, 127, 41, 0.4);
  --stg-dark-green-50: #f2f6f5;
  --stg-dark-green-100: #e6edeb;
  --stg-dark-green-200: #bfd1cc;
  --stg-dark-green-300: #80a499;
  --stg-dark-green-400: #407666;
  --stg-dark-green-500: #004833;
  --stg-dark-green-600: #003d2b;
  --stg-dark-green-700: #003224;
  --stg-dark-green-800: #00281c;
  --stg-dark-green-900: #001d14;
  --stg-dark-green-950: #00120d;
  --stg-yellow-50: #fffdf2;
  --stg-yellow-100: #fffae6;
  --stg-yellow-200: #fff3bf;
  --stg-yellow-300: #ffe680;
  --stg-yellow-400: #ffda40;
  --stg-yellow-500: #ffcd00;
  --stg-yellow-600: #d9ae00;
  --stg-yellow-700: #a68500;
  --stg-yellow-800: #8c7100;
  --stg-yellow-900: #665200;
  --stg-yellow-950: #403300;
}

.primitives {
  --primitives-modes-mode-1-border-radius-100: 2;
  --primitives-modes-mode-1-border-radius-200: 4;
  --primitives-modes-mode-1-border-radius-300: 6;
  --primitives-modes-mode-1-border-radius-400: 8;
  --primitives-modes-mode-1-border-radius-500: 12;
  --primitives-modes-mode-1-border-radius-600: 16;
  --primitives-modes-mode-1-border-radius-700: 24;
  --primitives-modes-mode-1-border-radius-800: 32;
  --primitives-modes-mode-1-border-radius-900: 99;
  --primitives-modes-mode-1-border-radius-none: 0;
  --primitives-modes-mode-1-border-width-default: 1;
  --primitives-modes-mode-1-border-width-thick: 3;
}

.light-mode {
  --tokens-modes-light-mode-color-background-background-pale-black: {color.muted.100};
  --tokens-modes-light-mode-color-background-background-white-black: {color.mono.white};
  --tokens-modes-light-mode-color-background-background-white-faint: {color.mono.white};
  --tokens-modes-light-mode-color-background-background-pale-faint: {color.muted.100};
  --tokens-modes-light-mode-color-background-background-white-pale: {color.mono.white};
  --tokens-modes-light-mode-color-surface-surface-mono: {color.mono.white};
  --tokens-modes-light-mode-color-surface-surface-muted-vivid: {color.muted.950};
  --tokens-modes-light-mode-color-surface-surface-muted: {color.muted.500};
  --tokens-modes-light-mode-color-surface-surface-muted-strong: {color.muted.400};
  --tokens-modes-light-mode-color-surface-surface-muted-mild: {color.muted.300};
  --tokens-modes-light-mode-color-surface-surface-muted-soft: {color.muted.200};
  --tokens-modes-light-mode-color-surface-surface-muted-pale: {color.muted.100};
  --tokens-modes-light-mode-color-surface-surface-muted-faint: {color.muted.50};
  --tokens-modes-light-mode-color-surface-surface-primary: {color.primary.500};
  --tokens-modes-light-mode-color-surface-surface-primary-faint: {color.primary.50};
  --tokens-modes-light-mode-color-surface-surface-hero: {color.hero.500};
  --tokens-modes-light-mode-color-surface-surface-hero-faint: {color.hero.50};
  --tokens-modes-light-mode-color-surface-surface-pop: {color.pop.500};
  --tokens-modes-light-mode-color-surface-surface-pop-faint: {color.pop.50};
  --tokens-modes-light-mode-color-surface-surface-holler: {color.holler.500};
  --tokens-modes-light-mode-color-surface-surface-holler-faint: {color.holler.50};
  --tokens-modes-light-mode-color-surface-surface-sing: {color.sing.500};
  --tokens-modes-light-mode-color-surface-surface-sing-faint: {color.sing.50};
  --tokens-modes-light-mode-color-surface-surface-dance: {color.dance.500};
  --tokens-modes-light-mode-color-surface-surface-dance-faint: {color.dance.50};
  --tokens-modes-light-mode-color-surface-surface-success: {color.reserved.success.500};
  --tokens-modes-light-mode-color-surface-surface-success-faint: {color.reserved.success.50};
  --tokens-modes-light-mode-color-surface-surface-info: {color.reserved.info.500};
  --tokens-modes-light-mode-color-surface-surface-info-faint: {color.reserved.info.50};
  --tokens-modes-light-mode-color-surface-surface-warning: {color.reserved.warning.500};
  --tokens-modes-light-mode-color-surface-surface-warning-faint: {color.reserved.warning.50};
  --tokens-modes-light-mode-color-surface-surface-danger: {color.reserved.danger.500};
  --tokens-modes-light-mode-color-surface-surface-danger-faint: {color.reserved.danger.50};
  --tokens-modes-light-mode-color-surface-surface-system-error: {color.reserved.system.500};
  --tokens-modes-light-mode-color-surface-surface-system-error-dark: {color.reserved.system.950};
  --tokens-modes-light-mode-color-text-text-body: {color.alias.text-body-Lm};
  --tokens-modes-light-mode-color-text-text-heading: {color.alias.text-heading-Lm};
  --tokens-modes-light-mode-color-text-text-muted: {color.muted.500};
  --tokens-modes-light-mode-color-text-text-primary: {color.primary.500};
  --tokens-modes-light-mode-color-text-text-hero: {color.hero.500};
  --tokens-modes-light-mode-color-text-text-holler: {color.holler.500};
  --tokens-modes-light-mode-color-text-text-link: {color.primary.500};
  --tokens-modes-light-mode-color-text-text-success: {color.reserved.success.500};
  --tokens-modes-light-mode-color-text-text-info: {color.reserved.info.500};
  --tokens-modes-light-mode-color-text-text-warning: {color.reserved.warning.500};
  --tokens-modes-light-mode-color-text-text-danger: {color.reserved.danger.500};
  --tokens-modes-light-mode-color-text-text-system-error: {color.reserved.system.950};
  --tokens-modes-light-mode-color-text-text-mono: {color.mono.white};
  --tokens-modes-light-mode-color-border-border-muted: {color.muted.500};
  --tokens-modes-light-mode-color-border-border-muted-strong: {color.muted.400};
  --tokens-modes-light-mode-color-border-border-muted-mild: {color.muted.300};
  --tokens-modes-light-mode-color-border-border-muted-soft: {color.muted.200};
  --tokens-modes-light-mode-color-border-border-hero: {color.hero.500};
  --tokens-modes-light-mode-color-border-border-primary: {color.primary.500};
  --tokens-modes-light-mode-color-border-border-pop: {color.pop.500};
  --tokens-modes-light-mode-color-border-border-holler: {color.holler.500};
  --tokens-modes-light-mode-color-border-border-sing: {color.sing.500};
  --tokens-modes-light-mode-color-border-border-dance: {color.dance.500};
  --tokens-modes-light-mode-color-border-border-success: {color.reserved.success.500};
  --tokens-modes-light-mode-color-border-border-success-mild: {color.reserved.success.300};
  --tokens-modes-light-mode-color-border-border-info: {color.reserved.info.500};
  --tokens-modes-light-mode-color-border-border-info-mild: {color.reserved.info.300};
  --tokens-modes-light-mode-color-border-border-warning: {color.reserved.warning.500};
  --tokens-modes-light-mode-color-border-border-warning-mild: {color.reserved.warning.300};
  --tokens-modes-light-mode-color-border-border-danger: {color.reserved.danger.500};
  --tokens-modes-light-mode-color-border-border-danger-mild: {color.reserved.danger.300};
  --tokens-modes-light-mode-color-border-border-mono: {color.mono.white};
  --tokens-modes-light-mode-color-border-border-focus: {color.holler.300};
  --tokens-modes-light-mode-color-data-data-a-solid: {color.primary.500};
  --tokens-modes-light-mode-color-data-data-a-tint: {color.primary.200};
  --tokens-modes-light-mode-color-data-data-a-opacity: {color.primary.opacity};
  --tokens-modes-light-mode-color-data-data-b-solid: {color.hero.500};
  --tokens-modes-light-mode-color-data-data-b-tint: {color.hero.300};
  --tokens-modes-light-mode-color-data-data-b-opacity: {color.hero.opacity};
  --tokens-modes-light-mode-color-data-data-c-solid: {color.pop.500};
  --tokens-modes-light-mode-color-data-data-c-tint: {color.pop.300};
  --tokens-modes-light-mode-color-data-data-c-opacity: {color.pop.opacity};
  --tokens-modes-light-mode-color-data-data-d-solid: {color.holler.500};
  --tokens-modes-light-mode-color-data-data-d-tint: {color.holler.200};
  --tokens-modes-light-mode-color-data-data-d-opacity: {color.holler.opacity};
  --tokens-modes-light-mode-color-data-data-e-solid: {color.sing.500};
  --tokens-modes-light-mode-color-data-data-e-tint: {color.sing.300};
  --tokens-modes-light-mode-color-data-data-e-opacity: {color.sing.opacity};
  --tokens-modes-light-mode-color-data-data-f-solid: {color.dance.500};
  --tokens-modes-light-mode-color-data-data-f-tint: {color.dance.300};
  --tokens-modes-light-mode-color-data-data-f-opacity: {color.dance.opacity};
  --tokens-modes-light-mode-color-pictogram-surface-pictogram-base: {color.alias.surface-pictogram-base-Lm};
  --tokens-modes-light-mode-color-pictogram-surface-pictogram-accent: {color.alias.surface-pictogram-accent-Lm};
  --tokens-modes-light-mode-color-state-surface-hover-primary: {color.primary.400};
  --tokens-modes-light-mode-color-state-surface-active-primary: {color.primary.200};
  --tokens-modes-light-mode-color-state-surface-hover-hero: {color.hero.400};
  --tokens-modes-light-mode-color-state-surface-active-hero: {color.hero.300};
  --tokens-modes-light-mode-color-state-surface-hover-primary-faint: {color.primary.50};
  --tokens-modes-light-mode-color-state-surface-active-primary-faint: {color.primary.100};
  --tokens-modes-light-mode-color-state-surface-hover-hero-faint: {color.hero.50};
  --tokens-modes-light-mode-color-state-surface-active-hero-faint: {color.hero.100};
  --tokens-modes-light-mode-color-state-surface-hover-muted-pale: {color.muted.100};
  --tokens-modes-light-mode-color-state-surface-active-muted-pale: {color.muted.300};
  --tokens-modes-light-mode-color-state-surface-hover-mono: {color.mono.white};
  --tokens-modes-light-mode-color-state-surface-active-mono: {color.muted.200};
  --tokens-modes-light-mode-border-radius-none: {border.radius.none};
  --tokens-modes-light-mode-border-radius-sm: {border.radius.small};
  --tokens-modes-light-mode-border-radius-md: {border.radius.medium};
  --tokens-modes-light-mode-border-radius-lg: {border.radius.large};
  --tokens-modes-light-mode-border-radius-xl: {border.radius.xlarge};
  --tokens-modes-light-mode-border-radius-full: {border.radius.full};
}

.dark-mode {
  --tokens-modes-dark-mode-color-background-background-pale-black: {color.mono.black};
  --tokens-modes-dark-mode-color-background-background-white-black: {color.mono.black};
  --tokens-modes-dark-mode-color-background-background-white-faint: {color.muted.950};
  --tokens-modes-dark-mode-color-background-background-pale-faint: {color.muted.950};
  --tokens-modes-dark-mode-color-background-background-white-pale: {color.muted.900};
  --tokens-modes-dark-mode-color-surface-surface-mono: {color.mono.black};
  --tokens-modes-dark-mode-color-surface-surface-muted-vivid: {color.muted.50};
  --tokens-modes-dark-mode-color-surface-surface-muted: {color.muted.400};
  --tokens-modes-dark-mode-color-surface-surface-muted-strong: {color.muted.600};
  --tokens-modes-dark-mode-color-surface-surface-muted-mild: {color.muted.700};
  --tokens-modes-dark-mode-color-surface-surface-muted-soft: {color.muted.800};
  --tokens-modes-dark-mode-color-surface-surface-muted-pale: {color.muted.900};
  --tokens-modes-dark-mode-color-surface-surface-muted-faint: {color.muted.950};
  --tokens-modes-dark-mode-color-surface-surface-primary: {color.primary.400};
  --tokens-modes-dark-mode-color-surface-surface-primary-faint: {color.primary.950};
  --tokens-modes-dark-mode-color-surface-surface-hero: {color.hero.300};
  --tokens-modes-dark-mode-color-surface-surface-hero-faint: {color.hero.950};
  --tokens-modes-dark-mode-color-surface-surface-pop: {color.pop.500};
  --tokens-modes-dark-mode-color-surface-surface-pop-faint: {color.pop.950};
  --tokens-modes-dark-mode-color-surface-surface-holler: {color.holler.400};
  --tokens-modes-dark-mode-color-surface-surface-holler-faint: {color.holler.950};
  --tokens-modes-dark-mode-color-surface-surface-sing: {color.sing.900};
  --tokens-modes-dark-mode-color-surface-surface-sing-faint: {color.sing.950};
  --tokens-modes-dark-mode-color-surface-surface-dance: {color.dance.500};
  --tokens-modes-dark-mode-color-surface-surface-dance-faint: {color.dance.900};
  --tokens-modes-dark-mode-color-surface-surface-success: {color.reserved.success.400};
  --tokens-modes-dark-mode-color-surface-surface-success-faint: {color.reserved.success.900};
  --tokens-modes-dark-mode-color-surface-surface-info: {color.reserved.info.400};
  --tokens-modes-dark-mode-color-surface-surface-info-faint: {color.reserved.info.900};
  --tokens-modes-dark-mode-color-surface-surface-warning: {color.reserved.warning.400};
  --tokens-modes-dark-mode-color-surface-surface-warning-faint: {color.reserved.warning.900};
  --tokens-modes-dark-mode-color-surface-surface-danger: {color.reserved.danger.300};
  --tokens-modes-dark-mode-color-surface-surface-danger-faint: {color.reserved.danger.900};
  --tokens-modes-dark-mode-color-surface-surface-system-error: {color.reserved.system.950};
  --tokens-modes-dark-mode-color-surface-surface-system-error-dark: {color.reserved.system.500};
  --tokens-modes-dark-mode-color-text-text-body: {color.alias.text-body-Dm};
  --tokens-modes-dark-mode-color-text-text-heading: {color.alias.text-heading-Dm};
  --tokens-modes-dark-mode-color-text-text-muted: {color.muted.400};
  --tokens-modes-dark-mode-color-text-text-primary: {color.primary.300};
  --tokens-modes-dark-mode-color-text-text-hero: {color.hero.200};
  --tokens-modes-dark-mode-color-text-text-holler: {color.holler.300};
  --tokens-modes-dark-mode-color-text-text-link: {color.primary.300};
  --tokens-modes-dark-mode-color-text-text-success: {color.reserved.success.300};
  --tokens-modes-dark-mode-color-text-text-info: {color.reserved.info.300};
  --tokens-modes-dark-mode-color-text-text-warning: {color.reserved.warning.300};
  --tokens-modes-dark-mode-color-text-text-danger: {color.reserved.danger.300};
  --tokens-modes-dark-mode-color-text-text-system-error: {color.reserved.system.500};
  --tokens-modes-dark-mode-color-text-text-mono: {color.mono.black};
  --tokens-modes-dark-mode-color-border-border-muted: {color.muted.500};
  --tokens-modes-dark-mode-color-border-border-muted-strong: {color.muted.500};
  --tokens-modes-dark-mode-color-border-border-muted-mild: {color.muted.700};
  --tokens-modes-dark-mode-color-border-border-muted-soft: {color.muted.700};
  --tokens-modes-dark-mode-color-border-border-hero: {color.hero.300};
  --tokens-modes-dark-mode-color-border-border-primary: {color.primary.400};
  --tokens-modes-dark-mode-color-border-border-pop: {color.pop.800};
  --tokens-modes-dark-mode-color-border-border-holler: {color.holler.400};
  --tokens-modes-dark-mode-color-border-border-sing: {color.sing.500};
  --tokens-modes-dark-mode-color-border-border-dance: {color.dance.500};
  --tokens-modes-dark-mode-color-border-border-success: {color.reserved.success.500};
  --tokens-modes-dark-mode-color-border-border-success-mild: {color.reserved.success.700};
  --tokens-modes-dark-mode-color-border-border-info: {color.reserved.info.500};
  --tokens-modes-dark-mode-color-border-border-info-mild: {color.reserved.info.700};
  --tokens-modes-dark-mode-color-border-border-warning: {color.reserved.warning.500};
  --tokens-modes-dark-mode-color-border-border-warning-mild: {color.reserved.warning.700};
  --tokens-modes-dark-mode-color-border-border-danger: {color.reserved.danger.500};
  --tokens-modes-dark-mode-color-border-border-danger-mild: {color.reserved.danger.700};
  --tokens-modes-dark-mode-color-border-border-mono: {color.mono.black};
  --tokens-modes-dark-mode-color-border-border-focus: {color.holler.400};
  --tokens-modes-dark-mode-color-data-data-a-solid: {color.primary.500};
  --tokens-modes-dark-mode-color-data-data-a-tint: {color.primary.200};
  --tokens-modes-dark-mode-color-data-data-a-opacity: {color.primary.opacity};
  --tokens-modes-dark-mode-color-data-data-b-solid: {color.hero.300};
  --tokens-modes-dark-mode-color-data-data-b-tint: {color.hero.200};
  --tokens-modes-dark-mode-color-data-data-b-opacity: {color.hero.opacity};
  --tokens-modes-dark-mode-color-data-data-c-solid: {color.pop.500};
  --tokens-modes-dark-mode-color-data-data-c-tint: {color.pop.300};
  --tokens-modes-dark-mode-color-data-data-c-opacity: {color.pop.opacity};
  --tokens-modes-dark-mode-color-data-data-d-solid: {color.holler.500};
  --tokens-modes-dark-mode-color-data-data-d-tint: {color.holler.200};
  --tokens-modes-dark-mode-color-data-data-d-opacity: {color.holler.opacity};
  --tokens-modes-dark-mode-color-data-data-e-solid: {color.sing.500};
  --tokens-modes-dark-mode-color-data-data-e-tint: {color.sing.300};
  --tokens-modes-dark-mode-color-data-data-e-opacity: {color.sing.opacity};
  --tokens-modes-dark-mode-color-data-data-f-solid: {color.dance.500};
  --tokens-modes-dark-mode-color-data-data-f-tint: {color.dance.300};
  --tokens-modes-dark-mode-color-data-data-f-opacity: {color.dance.opacity};
  --tokens-modes-dark-mode-color-pictogram-surface-pictogram-base: {color.alias.surface-pictogram-base-Dm};
  --tokens-modes-dark-mode-color-pictogram-surface-pictogram-accent: {color.alias.surface-pictogram-accent-DM};
  --tokens-modes-dark-mode-color-state-surface-hover-primary: {color.primary.200};
  --tokens-modes-dark-mode-color-state-surface-active-primary: {color.primary.100};
  --tokens-modes-dark-mode-color-state-surface-hover-hero: {color.hero.200};
  --tokens-modes-dark-mode-color-state-surface-active-hero: {color.hero.100};
  --tokens-modes-dark-mode-color-state-surface-hover-primary-faint: {color.primary.900};
  --tokens-modes-dark-mode-color-state-surface-active-primary-faint: {color.primary.800};
  --tokens-modes-dark-mode-color-state-surface-hover-hero-faint: {color.hero.800};
  --tokens-modes-dark-mode-color-state-surface-active-hero-faint: {color.hero.400};
  --tokens-modes-dark-mode-color-state-surface-hover-muted-pale: {color.muted.800};
  --tokens-modes-dark-mode-color-state-surface-active-muted-pale: {color.muted.600};
  --tokens-modes-dark-mode-color-state-surface-hover-mono: {color.mono.black};
  --tokens-modes-dark-mode-color-state-surface-active-mono: {color.muted.800};
  --tokens-modes-dark-mode-border-radius-none: {border.radius.none};
  --tokens-modes-dark-mode-border-radius-sm: {border.radius.small};
  --tokens-modes-dark-mode-border-radius-md: {border.radius.medium};
  --tokens-modes-dark-mode-border-radius-lg: {border.radius.large};
  --tokens-modes-dark-mode-border-radius-xl: {border.radius.xlarge};
  --tokens-modes-dark-mode-border-radius-full: {border.radius.full};
}

.Westpac {
  --themes-modes-westpac-color-alias-text-body-lm: {color.muted.950};
  --themes-modes-westpac-color-alias-text-body-dm: {color.muted.200};
  --themes-modes-westpac-color-alias-text-heading-lm: {color.hero.500};
  --themes-modes-westpac-color-alias-text-heading-dm: {color.hero.200};
  --themes-modes-westpac-color-alias-surface-pictogram-base-lm: {color.hero.500};
  --themes-modes-westpac-color-alias-surface-pictogram-base-dm: {color.hero.300};
  --themes-modes-westpac-color-alias-surface-pictogram-accent-lm: {color.primary.500};
  --themes-modes-westpac-color-alias-surface-pictogram-accent-dm: {color.primary.600};
  --themes-modes-westpac-color-muted-50: {color.WBC.Grey.50};
  --themes-modes-westpac-color-muted-100: {color.WBC.Grey.100};
  --themes-modes-westpac-color-muted-200: {color.WBC.Grey.200};
  --themes-modes-westpac-color-muted-300: {color.WBC.Grey.300};
  --themes-modes-westpac-color-muted-400: {color.WBC.Grey.400};
  --themes-modes-westpac-color-muted-500: {color.WBC.Grey.500};
  --themes-modes-westpac-color-muted-600: {color.WBC.Grey.600};
  --themes-modes-westpac-color-muted-700: {color.WBC.Grey.700};
  --themes-modes-westpac-color-muted-800: {color.WBC.Grey.800};
  --themes-modes-westpac-color-muted-900: {color.WBC.Grey.900};
  --themes-modes-westpac-color-muted-950: {color.WBC.Grey.950};
  --themes-modes-westpac-color-primary-50: {color.WBC.Red.50};
  --themes-modes-westpac-color-primary-100: {color.WBC.Red.100};
  --themes-modes-westpac-color-primary-200: {color.WBC.Red.200};
  --themes-modes-westpac-color-primary-300: {color.WBC.Red.300};
  --themes-modes-westpac-color-primary-400: {color.WBC.Red.400};
  --themes-modes-westpac-color-primary-500: {color.WBC.Red.500};
  --themes-modes-westpac-color-primary-600: {color.WBC.Red.600};
  --themes-modes-westpac-color-primary-700: {color.WBC.Red.700};
  --themes-modes-westpac-color-primary-800: {color.WBC.Red.800};
  --themes-modes-westpac-color-primary-900: {color.WBC.Red.900};
  --themes-modes-westpac-color-primary-950: {color.WBC.Red.950};
  --themes-modes-westpac-color-primary-opacity: {color.WBC.Red.opacity};
  --themes-modes-westpac-color-hero-50: {color.WBC.Navy.50};
  --themes-modes-westpac-color-hero-100: {color.WBC.Navy.100};
  --themes-modes-westpac-color-hero-200: {color.WBC.Navy.200};
  --themes-modes-westpac-color-hero-300: {color.WBC.Navy.300};
  --themes-modes-westpac-color-hero-400: {color.WBC.Navy.400};
  --themes-modes-westpac-color-hero-500: {color.WBC.Navy.500};
  --themes-modes-westpac-color-hero-600: {color.WBC.Navy.600};
  --themes-modes-westpac-color-hero-700: {color.WBC.Navy.700};
  --themes-modes-westpac-color-hero-800: {color.WBC.Navy.800};
  --themes-modes-westpac-color-hero-900: {color.WBC.Navy.900};
  --themes-modes-westpac-color-hero-950: {color.WBC.Navy.950};
  --themes-modes-westpac-color-hero-opacity: {color.WBC.Navy.opacity};
  --themes-modes-westpac-color-pop-50: {color.WBC.Pink.50};
  --themes-modes-westpac-color-pop-100: {color.WBC.Pink.100};
  --themes-modes-westpac-color-pop-200: {color.WBC.Pink.200};
  --themes-modes-westpac-color-pop-300: {color.WBC.Pink.300};
  --themes-modes-westpac-color-pop-400: {color.WBC.Pink.400};
  --themes-modes-westpac-color-pop-500: {color.WBC.Pink.500};
  --themes-modes-westpac-color-pop-600: {color.WBC.Pink.600};
  --themes-modes-westpac-color-pop-700: {color.WBC.Pink.700};
  --themes-modes-westpac-color-pop-800: {color.WBC.Pink.800};
  --themes-modes-westpac-color-pop-900: {color.WBC.Pink.900};
  --themes-modes-westpac-color-pop-950: {color.WBC.Pink.950};
  --themes-modes-westpac-color-pop-opacity: {color.WBC.Pink.opacity};
  --themes-modes-westpac-color-holler-50: {color.WBC.Purple.50};
  --themes-modes-westpac-color-holler-100: {color.WBC.Purple.100};
  --themes-modes-westpac-color-holler-200: {color.WBC.Purple.200};
  --themes-modes-westpac-color-holler-300: {color.WBC.Purple.300};
  --themes-modes-westpac-color-holler-400: {color.WBC.Purple.400};
  --themes-modes-westpac-color-holler-500: {color.WBC.Purple.500};
  --themes-modes-westpac-color-holler-600: {color.WBC.Purple.600};
  --themes-modes-westpac-color-holler-700: {color.WBC.Purple.700};
  --themes-modes-westpac-color-holler-800: {color.WBC.Purple.800};
  --themes-modes-westpac-color-holler-900: {color.WBC.Purple.900};
  --themes-modes-westpac-color-holler-950: {color.WBC.Purple.950};
  --themes-modes-westpac-color-holler-opacity: {color.WBC.Purple.opacity};
  --themes-modes-westpac-color-sing-50: {color.WBC.Dark Red.50};
  --themes-modes-westpac-color-sing-100: {color.WBC.Dark Red.100};
  --themes-modes-westpac-color-sing-200: {color.WBC.Dark Red.200};
  --themes-modes-westpac-color-sing-300: {color.WBC.Dark Red.300};
  --themes-modes-westpac-color-sing-400: {color.WBC.Dark Red.400};
  --themes-modes-westpac-color-sing-500: {color.WBC.Dark Red.500};
  --themes-modes-westpac-color-sing-600: {color.WBC.Dark Red.600};
  --themes-modes-westpac-color-sing-700: {color.WBC.Dark Red.700};
  --themes-modes-westpac-color-sing-800: {color.WBC.Dark Red.800};
  --themes-modes-westpac-color-sing-900: {color.WBC.Dark Red.900};
  --themes-modes-westpac-color-sing-950: {color.WBC.Dark Red.950};
  --themes-modes-westpac-color-sing-opacity: {color.WBC.Dark Red.opacity};
  --themes-modes-westpac-color-dance-50: {color.WBC.Orange.50};
  --themes-modes-westpac-color-dance-100: {color.WBC.Orange.100};
  --themes-modes-westpac-color-dance-200: {color.WBC.Orange.200};
  --themes-modes-westpac-color-dance-300: {color.WBC.Orange.300};
  --themes-modes-westpac-color-dance-400: {color.WBC.Orange.400};
  --themes-modes-westpac-color-dance-500: {color.WBC.Orange.500};
  --themes-modes-westpac-color-dance-600: {color.WBC.Orange.600};
  --themes-modes-westpac-color-dance-700: {color.WBC.Orange.700};
  --themes-modes-westpac-color-dance-800: {color.WBC.Orange.800};
  --themes-modes-westpac-color-dance-900: {color.WBC.Orange.900};
  --themes-modes-westpac-color-dance-950: {color.WBC.Orange.950};
  --themes-modes-westpac-color-dance-opacity: {color.WBC.Orange.opacity};
  --themes-modes-westpac-color-mono-white: #ffffff;
  --themes-modes-westpac-color-mono-black: #000000;
  --themes-modes-westpac-color-reserved-success-50: {color.Reserved.Green.50};
  --themes-modes-westpac-color-reserved-success-100: {color.Reserved.Green.100};
  --themes-modes-westpac-color-reserved-success-200: {color.Reserved.Green.200};
  --themes-modes-westpac-color-reserved-success-300: {color.Reserved.Green.300};
  --themes-modes-westpac-color-reserved-success-400: {color.Reserved.Green.400};
  --themes-modes-westpac-color-reserved-success-500: {color.Reserved.Green.500};
  --themes-modes-westpac-color-reserved-success-600: {color.Reserved.Green.600};
  --themes-modes-westpac-color-reserved-success-700: {color.Reserved.Green.700};
  --themes-modes-westpac-color-reserved-success-800: {color.Reserved.Green.800};
  --themes-modes-westpac-color-reserved-success-900: {color.Reserved.Green.900};
  --themes-modes-westpac-color-reserved-success-950: {color.Reserved.Green.950};
  --themes-modes-westpac-color-reserved-info-50: {color.Reserved.Blue.50};
  --themes-modes-westpac-color-reserved-info-100: {color.Reserved.Blue.100};
  --themes-modes-westpac-color-reserved-info-200: {color.Reserved.Blue.200};
  --themes-modes-westpac-color-reserved-info-300: {color.Reserved.Blue.300};
  --themes-modes-westpac-color-reserved-info-400: {color.Reserved.Blue.400};
  --themes-modes-westpac-color-reserved-info-500: {color.Reserved.Blue.500};
  --themes-modes-westpac-color-reserved-info-600: {color.Reserved.Blue.600};
  --themes-modes-westpac-color-reserved-info-700: {color.Reserved.Blue.700};
  --themes-modes-westpac-color-reserved-info-800: {color.Reserved.Blue.800};
  --themes-modes-westpac-color-reserved-info-900: {color.Reserved.Blue.900};
  --themes-modes-westpac-color-reserved-info-950: {color.Reserved.Blue.950};
  --themes-modes-westpac-color-reserved-warning-50: {color.Reserved.Orange.50};
  --themes-modes-westpac-color-reserved-warning-100: {color.Reserved.Orange.100};
  --themes-modes-westpac-color-reserved-warning-200: {color.Reserved.Orange.200};
  --themes-modes-westpac-color-reserved-warning-300: {color.Reserved.Orange.300};
  --themes-modes-westpac-color-reserved-warning-400: {color.Reserved.Orange.400};
  --themes-modes-westpac-color-reserved-warning-500: {color.Reserved.Orange.500};
  --themes-modes-westpac-color-reserved-warning-600: {color.Reserved.Orange.600};
  --themes-modes-westpac-color-reserved-warning-700: {color.Reserved.Orange.700};
  --themes-modes-westpac-color-reserved-warning-800: {color.Reserved.Orange.800};
  --themes-modes-westpac-color-reserved-warning-900: {color.Reserved.Orange.900};
  --themes-modes-westpac-color-reserved-warning-950: {color.Reserved.Orange.950};
  --themes-modes-westpac-color-reserved-danger-50: {color.Reserved.Red.50};
  --themes-modes-westpac-color-reserved-danger-100: {color.Reserved.Red.100};
  --themes-modes-westpac-color-reserved-danger-200: {color.Reserved.Red.200};
  --themes-modes-westpac-color-reserved-danger-300: {color.Reserved.Red.300};
  --themes-modes-westpac-color-reserved-danger-400: {color.Reserved.Red.400};
  --themes-modes-westpac-color-reserved-danger-500: {color.Reserved.Red.500};
  --themes-modes-westpac-color-reserved-danger-600: {color.Reserved.Red.600};
  --themes-modes-westpac-color-reserved-danger-700: {color.Reserved.Red.700};
  --themes-modes-westpac-color-reserved-danger-800: {color.Reserved.Red.800};
  --themes-modes-westpac-color-reserved-danger-900: {color.Reserved.Red.900};
  --themes-modes-westpac-color-reserved-danger-950: {color.Reserved.Red.950};
  --themes-modes-westpac-color-reserved-system-50: {color.Reserved.Yellow.50};
  --themes-modes-westpac-color-reserved-system-100: {color.Reserved.Yellow.100};
  --themes-modes-westpac-color-reserved-system-200: {color.Reserved.Yellow.200};
  --themes-modes-westpac-color-reserved-system-300: {color.Reserved.Yellow.300};
  --themes-modes-westpac-color-reserved-system-400: {color.Reserved.Yellow.400};
  --themes-modes-westpac-color-reserved-system-500: {color.Reserved.Yellow.500};
  --themes-modes-westpac-color-reserved-system-600: {color.Reserved.Yellow.600};
  --themes-modes-westpac-color-reserved-system-700: {color.Reserved.Yellow.700};
  --themes-modes-westpac-color-reserved-system-800: {color.Reserved.Yellow.800};
  --themes-modes-westpac-color-reserved-system-900: {color.Reserved.Yellow.900};
  --themes-modes-westpac-color-reserved-system-950: {color.Reserved.Yellow.950};
  --themes-modes-westpac-border-radius-none: {border.radius.none};
  --themes-modes-westpac-border-radius-small: {border.radius.100};
  --themes-modes-westpac-border-radius-medium: {border.radius.300};
  --themes-modes-westpac-border-radius-large: {border.radius.500};
  --themes-modes-westpac-border-radius-xlarge: {border.radius.700};
  --themes-modes-westpac-border-radius-full: {border.radius.900};
}

.StGeorge {
  --themes-modes-stgeorge-color-alias-text-body-lm: {color.hero.800};
  --themes-modes-stgeorge-color-alias-text-body-dm: {color.muted.200};
  --themes-modes-stgeorge-color-alias-text-heading-lm: {color.hero.600};
  --themes-modes-stgeorge-color-alias-text-heading-dm: {color.hero.300};
  --themes-modes-stgeorge-color-alias-surface-pictogram-base-lm: {color.hero.800};
  --themes-modes-stgeorge-color-alias-surface-pictogram-base-dm: {color.hero.400};
  --themes-modes-stgeorge-color-alias-surface-pictogram-accent-lm: {color.pop.500};
  --themes-modes-stgeorge-color-alias-surface-pictogram-accent-dm: {color.pop.400};
  --themes-modes-stgeorge-color-muted-50: {color.STG.Grey.50};
  --themes-modes-stgeorge-color-muted-100: {color.STG.Grey.100};
  --themes-modes-stgeorge-color-muted-200: {color.STG.Grey.200};
  --themes-modes-stgeorge-color-muted-300: {color.STG.Grey.300};
  --themes-modes-stgeorge-color-muted-400: {color.STG.Grey.400};
  --themes-modes-stgeorge-color-muted-500: {color.STG.Grey.500};
  --themes-modes-stgeorge-color-muted-600: {color.STG.Grey.600};
  --themes-modes-stgeorge-color-muted-700: {color.STG.Grey.700};
  --themes-modes-stgeorge-color-muted-800: {color.STG.Grey.800};
  --themes-modes-stgeorge-color-muted-900: {color.STG.Grey.900};
  --themes-modes-stgeorge-color-muted-950: {color.STG.Grey.950};
  --themes-modes-stgeorge-color-primary-50: {color.STG.Red.50};
  --themes-modes-stgeorge-color-primary-100: {color.STG.Red.100};
  --themes-modes-stgeorge-color-primary-200: {color.STG.Red.200};
  --themes-modes-stgeorge-color-primary-300: {color.STG.Red.300};
  --themes-modes-stgeorge-color-primary-400: {color.STG.Red.400};
  --themes-modes-stgeorge-color-primary-500: {color.STG.Red.500};
  --themes-modes-stgeorge-color-primary-600: {color.STG.Red.600};
  --themes-modes-stgeorge-color-primary-700: {color.STG.Red.700};
  --themes-modes-stgeorge-color-primary-800: {color.STG.Red.800};
  --themes-modes-stgeorge-color-primary-900: {color.STG.Red.900};
  --themes-modes-stgeorge-color-primary-950: {color.STG.Red.950};
  --themes-modes-stgeorge-color-primary-opacity: {color.STG.Red.opacity};
  --themes-modes-stgeorge-color-hero-50: {color.STG.Access Green.50};
  --themes-modes-stgeorge-color-hero-100: {color.STG.Access Green.100};
  --themes-modes-stgeorge-color-hero-200: {color.STG.Access Green.200};
  --themes-modes-stgeorge-color-hero-300: {color.STG.Access Green.300};
  --themes-modes-stgeorge-color-hero-400: {color.STG.Access Green.400};
  --themes-modes-stgeorge-color-hero-500: {color.STG.Access Green.500};
  --themes-modes-stgeorge-color-hero-600: {color.STG.Access Green.600};
  --themes-modes-stgeorge-color-hero-700: {color.STG.Access Green.700};
  --themes-modes-stgeorge-color-hero-800: {color.STG.Dark Green.500};
  --themes-modes-stgeorge-color-hero-900: {color.STG.Dark Green.600};
  --themes-modes-stgeorge-color-hero-950: {color.STG.Dark Green.700};
  --themes-modes-stgeorge-color-hero-opacity: {color.STG.Access Green.opacity};
  --themes-modes-stgeorge-color-pop-50: {color.STG.Green.50};
  --themes-modes-stgeorge-color-pop-100: {color.STG.Green.100};
  --themes-modes-stgeorge-color-pop-200: {color.STG.Green.200};
  --themes-modes-stgeorge-color-pop-300: {color.STG.Green.300};
  --themes-modes-stgeorge-color-pop-400: {color.STG.Green.400};
  --themes-modes-stgeorge-color-pop-500: {color.STG.Green.500};
  --themes-modes-stgeorge-color-pop-600: {color.STG.Green.600};
  --themes-modes-stgeorge-color-pop-700: {color.STG.Green.700};
  --themes-modes-stgeorge-color-pop-800: {color.STG.Green.800};
  --themes-modes-stgeorge-color-pop-900: {color.STG.Green.900};
  --themes-modes-stgeorge-color-pop-950: {color.STG.Green.950};
  --themes-modes-stgeorge-color-pop-opacity: {color.STG.Green.opacity};
  --themes-modes-stgeorge-color-holler-50: {color.STG.Sky.50};
  --themes-modes-stgeorge-color-holler-100: {color.STG.Sky.100};
  --themes-modes-stgeorge-color-holler-200: {color.STG.Sky.200};
  --themes-modes-stgeorge-color-holler-300: {color.STG.Sky.300};
  --themes-modes-stgeorge-color-holler-400: {color.STG.Sky.400};
  --themes-modes-stgeorge-color-holler-500: {color.STG.Sky.500};
  --themes-modes-stgeorge-color-holler-600: {color.STG.Sky.600};
  --themes-modes-stgeorge-color-holler-700: {color.STG.Sky.700};
  --themes-modes-stgeorge-color-holler-800: {color.STG.Sky.800};
  --themes-modes-stgeorge-color-holler-900: {color.STG.Sky.900};
  --themes-modes-stgeorge-color-holler-950: {color.STG.Sky.950};
  --themes-modes-stgeorge-color-holler-opacity: {color.STG.Sky.opacity};
  --themes-modes-stgeorge-color-sing-50: {color.STG.Plum.50};
  --themes-modes-stgeorge-color-sing-100: {color.STG.Plum.100};
  --themes-modes-stgeorge-color-sing-200: {color.STG.Plum.200};
  --themes-modes-stgeorge-color-sing-300: {color.STG.Plum.300};
  --themes-modes-stgeorge-color-sing-400: {color.STG.Plum.400};
  --themes-modes-stgeorge-color-sing-500: {color.STG.Plum.500};
  --themes-modes-stgeorge-color-sing-600: {color.STG.Plum.600};
  --themes-modes-stgeorge-color-sing-700: {color.STG.Plum.700};
  --themes-modes-stgeorge-color-sing-800: {color.STG.Plum.800};
  --themes-modes-stgeorge-color-sing-900: {color.STG.Plum.900};
  --themes-modes-stgeorge-color-sing-950: {color.STG.Plum.950};
  --themes-modes-stgeorge-color-sing-opacity: {color.STG.Plum.opacity};
  --themes-modes-stgeorge-color-dance-50: {color.STG.Amber.50};
  --themes-modes-stgeorge-color-dance-100: {color.STG.Amber.100};
  --themes-modes-stgeorge-color-dance-200: {color.STG.Amber.200};
  --themes-modes-stgeorge-color-dance-300: {color.STG.Amber.300};
  --themes-modes-stgeorge-color-dance-400: {color.STG.Amber.400};
  --themes-modes-stgeorge-color-dance-500: {color.STG.Amber.500};
  --themes-modes-stgeorge-color-dance-600: {color.STG.Amber.600};
  --themes-modes-stgeorge-color-dance-700: {color.STG.Amber.700};
  --themes-modes-stgeorge-color-dance-800: {color.STG.Amber.800};
  --themes-modes-stgeorge-color-dance-900: {color.STG.Amber.900};
  --themes-modes-stgeorge-color-dance-950: {color.STG.Amber.950};
  --themes-modes-stgeorge-color-dance-opacity: {color.STG.Amber.opacity};
  --themes-modes-stgeorge-color-mono-white: #ffffff;
  --themes-modes-stgeorge-color-mono-black: #000000;
  --themes-modes-stgeorge-color-reserved-success-50: {color.Reserved.Green.50};
  --themes-modes-stgeorge-color-reserved-success-100: {color.Reserved.Green.100};
  --themes-modes-stgeorge-color-reserved-success-200: {color.Reserved.Green.200};
  --themes-modes-stgeorge-color-reserved-success-300: {color.Reserved.Green.300};
  --themes-modes-stgeorge-color-reserved-success-400: {color.Reserved.Green.400};
  --themes-modes-stgeorge-color-reserved-success-500: {color.Reserved.Green.500};
  --themes-modes-stgeorge-color-reserved-success-600: {color.Reserved.Green.600};
  --themes-modes-stgeorge-color-reserved-success-700: {color.Reserved.Green.700};
  --themes-modes-stgeorge-color-reserved-success-800: {color.Reserved.Green.800};
  --themes-modes-stgeorge-color-reserved-success-900: {color.Reserved.Green.900};
  --themes-modes-stgeorge-color-reserved-success-950: {color.Reserved.Green.950};
  --themes-modes-stgeorge-color-reserved-info-50: {color.Reserved.Blue.50};
  --themes-modes-stgeorge-color-reserved-info-100: {color.Reserved.Blue.100};
  --themes-modes-stgeorge-color-reserved-info-200: {color.Reserved.Blue.200};
  --themes-modes-stgeorge-color-reserved-info-300: {color.Reserved.Blue.300};
  --themes-modes-stgeorge-color-reserved-info-400: {color.Reserved.Blue.400};
  --themes-modes-stgeorge-color-reserved-info-500: {color.Reserved.Blue.500};
  --themes-modes-stgeorge-color-reserved-info-600: {color.Reserved.Blue.600};
  --themes-modes-stgeorge-color-reserved-info-700: {color.Reserved.Blue.700};
  --themes-modes-stgeorge-color-reserved-info-800: {color.Reserved.Blue.800};
  --themes-modes-stgeorge-color-reserved-info-900: {color.Reserved.Blue.900};
  --themes-modes-stgeorge-color-reserved-info-950: {color.Reserved.Blue.950};
  --themes-modes-stgeorge-color-reserved-warning-50: {color.Reserved.Orange.50};
  --themes-modes-stgeorge-color-reserved-warning-100: {color.Reserved.Orange.100};
  --themes-modes-stgeorge-color-reserved-warning-200: {color.Reserved.Orange.200};
  --themes-modes-stgeorge-color-reserved-warning-300: {color.Reserved.Orange.300};
  --themes-modes-stgeorge-color-reserved-warning-400: {color.Reserved.Orange.400};
  --themes-modes-stgeorge-color-reserved-warning-500: {color.Reserved.Orange.500};
  --themes-modes-stgeorge-color-reserved-warning-600: {color.Reserved.Orange.600};
  --themes-modes-stgeorge-color-reserved-warning-700: {color.Reserved.Orange.700};
  --themes-modes-stgeorge-color-reserved-warning-800: {color.Reserved.Orange.800};
  --themes-modes-stgeorge-color-reserved-warning-900: {color.Reserved.Orange.900};
  --themes-modes-stgeorge-color-reserved-warning-950: {color.Reserved.Orange.950};
  --themes-modes-stgeorge-color-reserved-danger-50: {color.Reserved.Red.50};
  --themes-modes-stgeorge-color-reserved-danger-100: {color.Reserved.Red.100};
  --themes-modes-stgeorge-color-reserved-danger-200: {color.Reserved.Red.200};
  --themes-modes-stgeorge-color-reserved-danger-300: {color.Reserved.Red.300};
  --themes-modes-stgeorge-color-reserved-danger-400: {color.Reserved.Red.400};
  --themes-modes-stgeorge-color-reserved-danger-500: {color.Reserved.Red.500};
  --themes-modes-stgeorge-color-reserved-danger-600: {color.Reserved.Red.600};
  --themes-modes-stgeorge-color-reserved-danger-700: {color.Reserved.Red.700};
  --themes-modes-stgeorge-color-reserved-danger-800: {color.Reserved.Red.800};
  --themes-modes-stgeorge-color-reserved-danger-900: {color.Reserved.Red.900};
  --themes-modes-stgeorge-color-reserved-danger-950: {color.Reserved.Red.950};
  --themes-modes-stgeorge-color-reserved-system-50: {color.Reserved.Yellow.50};
  --themes-modes-stgeorge-color-reserved-system-100: {color.Reserved.Yellow.100};
  --themes-modes-stgeorge-color-reserved-system-200: {color.Reserved.Yellow.200};
  --themes-modes-stgeorge-color-reserved-system-300: {color.Reserved.Yellow.300};
  --themes-modes-stgeorge-color-reserved-system-400: {color.Reserved.Yellow.400};
  --themes-modes-stgeorge-color-reserved-system-500: {color.Reserved.Yellow.500};
  --themes-modes-stgeorge-color-reserved-system-600: {color.Reserved.Yellow.600};
  --themes-modes-stgeorge-color-reserved-system-700: {color.Reserved.Yellow.700};
  --themes-modes-stgeorge-color-reserved-system-800: {color.Reserved.Yellow.800};
  --themes-modes-stgeorge-color-reserved-system-900: {color.Reserved.Yellow.900};
  --themes-modes-stgeorge-color-reserved-system-950: {color.Reserved.Yellow.950};
  --themes-modes-stgeorge-border-radius-none: {border.radius.none};
  --themes-modes-stgeorge-border-radius-small: {border.radius.200};
  --themes-modes-stgeorge-border-radius-medium: {border.radius.500};
  --themes-modes-stgeorge-border-radius-large: {border.radius.700};
  --themes-modes-stgeorge-border-radius-xlarge: {border.radius.900};
  --themes-modes-stgeorge-border-radius-full: {border.radius.900};
}

