@import 'tailwindcss';
@import '@westpac/style-config/tailwind';
@import '@westpac/style-config/theme-wbc';
@import '@westpac/style-config/theme-stg';
@import '@westpac/style-config/theme-bom';
@import '@westpac/style-config/theme-bsa';

@source "../../../node_modules/@westpac/ui/src";
@source "../../content";

@layer theme {
  :root,
  :host {
    --font-gel-sans:
      'Graphik', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif',
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}

@theme inline static {
  --color-gel-primary: #c80038;
  --color-gel-background: #f3f5f6;
  --color-gel-border: #cfd8dc;
  --color-gel-icon: #1976d2;
  --color-gel-text: #122935;
  --color-gel-link: #1871c9;
  --color-gel-muted: #575f65;
  --color-gel-hover: #f9fafb;

  --container-gel-container: 71.5rem;
  --container-gel-lg-container: 82.5rem;

  --container-container-xs: 35.35rem;
  --container-container-xsl: 47.25rem;

  /* GEL font */
  --font-gel-serif: 'Guardian', 'Times New Roman', 'Times', 'serif';
  --font-gel-sans: var(--font-gel-sans);

  --typography-site-size-1: 3.75rem;
  --typography-site-line-height-1: var(--line-height-tight);
  --typography-site-line-height-1: var(--leading-tight);

  --typography-site-size-2: 3.375rem;
  --typography-site-line-height-2: var(--line-height-tight);

  --typography-site-size-3: 3rem;
  --typography-site-line-height-3: var(--line-height-tight);

  --typography-site-size-4: 2.625rem;
  --typography-site-line-height-4: var(--line-height-tight);

  --typography-site-size-5: 2.25rem;
  --typography-site-line-height-5: var(--line-height-tight);

  --typography-site-size-6: 1.875rem;
  --typography-site-line-height-6: var(--line-height-tight);

  --typography-site-size-7: 1.5rem;
  --typography-site-line-height-7: var(--line-height-tight);

  --typography-site-size-8: 1.125rem;
  --typography-site-line-height-8: var(--line-height-normal);

  --typography-site-size-9: 1rem;
  --typography-site-line-height-9: var(--line-height-normal);

  --typography-site-size-10: 0.875rem;
  --typography-site-line-height-10: var(--line-height-normal);

  --typography-site-size-11: 0.875rem;
  --typography-site-line-height-11: var(--line-height-loose);
}

/* TEMP FIX: Increasing width for section editor dialogs as the toolbar options overlap when adding the custom component block option */
section.ksv-dialog-root {
  width: var(--ksv-size-dialog-large);
}

/* GEL fonts */
@font-face {
  src: url('/fonts/Graphik-Regular-Web.woff') format('woff');
  font-family: 'Graphik';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Graphik-Bold-Web.woff') format('woff');
  font-family: 'Graphik';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('/fonts/GuardianEgyp-Light-Web.woff') format('woff');
  font-family: 'Guardian';
  font-weight: 300;
  font-style: normal;
}

@utility typography-site-* {
  font-size: --value(--typography-body-size-*);
  line-height: --value(--typography-body-line-height-*);
  font-family: var(--font-gel-sans);
}
