:root, :host {
  --primitives-color-green-50: #f2f9f2;
  --primitives-color-green-100: #d9ecd9;
  --primitives-color-green-200: #99cc99;
  --primitives-color-green-300: #47a447;
  --primitives-color-green-400: #249224;
  --primitives-color-green-500: #008000;
  --primitives-color-green-600: #006d00;
  --primitives-color-green-700: #005a00;
  --primitives-color-green-800: #004600;
  --primitives-color-green-900: #003300;
  --primitives-color-green-950: #002000;
  --primitives-color-blue-50: #f2f8fc;
  --primitives-color-blue-100: #d9eaf6;
  --primitives-color-blue-200: #99c7e7;
  --primitives-color-blue-300: #459ad4;
  --primitives-color-blue-400: #2487cc;
  --primitives-color-blue-500: #0074c4;
  --primitives-color-blue-600: #0063a7;
  --primitives-color-blue-700: #005189;
  --primitives-color-blue-800: #00406c;
  --primitives-color-blue-900: #002e4e;
  --primitives-color-blue-950: #001d31;
  --primitives-color-orange-50: #fcf5f2;
  --primitives-color-orange-100: #f3d8cc;
  --primitives-color-orange-200: #e8b199;
  --primitives-color-orange-300: #d7784f;
  --primitives-color-orange-400: #ce5826;
  --primitives-color-orange-500: #c53b00;
  --primitives-color-orange-600: #a73200;
  --primitives-color-orange-700: #8a2900;
  --primitives-color-orange-800: #6c2000;
  --primitives-color-orange-900: #4f1800;
  --primitives-color-orange-950: #310f00;
  --primitives-color-red-50: #fcf2f2;
  --primitives-color-red-100: #f9e6e6;
  --primitives-color-red-200: #eaa6a6;
  --primitives-color-red-300: #db6363;
  --primitives-color-red-400: #d03333;
  --primitives-color-red-500: #c40000;
  --primitives-color-red-600: #a70000;
  --primitives-color-red-700: #890000;
  --primitives-color-red-800: #6c0000;
  --primitives-color-red-900: #4e0000;
  --primitives-color-red-950: #310000;
  --primitives-color-yellow-50: #fffff2;
  --primitives-color-yellow-100: #ffffe6;
  --primitives-color-yellow-200: #ffffbf;
  --primitives-color-yellow-300: #ffff80;
  --primitives-color-yellow-400: #ffff40;
  --primitives-color-yellow-500: #ffff00;
  --primitives-color-yellow-600: #d9d900;
  --primitives-color-yellow-700: #b3b300;
  --primitives-color-yellow-800: #8c8c00;
  --primitives-color-yellow-900: #666600;
  --primitives-color-yellow-950: #404000;
  --primitives-color-wbc-grey-50: #f9f9fa;
  --primitives-color-wbc-grey-100: #f5f5f6;
  --primitives-color-wbc-grey-200: #dedee1;
  --primitives-color-wbc-grey-300: #b6b6bc;
  --primitives-color-wbc-grey-400: #8e8d98;
  --primitives-color-wbc-grey-500: #706f7c;
  --primitives-color-wbc-grey-600: #5b5b6a;
  --primitives-color-wbc-grey-700: #464651;
  --primitives-color-wbc-grey-800: #323238;
  --primitives-color-wbc-grey-900: #1c1c1f;
  --primitives-color-wbc-grey-950: #161619;
  --primitives-color-wbc-red-50: #fff0f0;
  --primitives-color-wbc-red-100: #facccb;
  --primitives-color-wbc-red-200: #f46e69;
  --primitives-color-wbc-red-300: #f1423c;
  --primitives-color-wbc-red-400: #ee221b;
  --primitives-color-wbc-red-500: #da1710;
  --primitives-color-wbc-red-600: #b9140e;
  --primitives-color-wbc-red-700: #99100b;
  --primitives-color-wbc-red-800: #780d09;
  --primitives-color-wbc-red-900: #570906;
  --primitives-color-wbc-red-950: #370604;
  --primitives-color-wbc-red-opacity: rgba(218, 23, 16, 0.5);
  --primitives-color-wbc-pink-50: #fff5fd;
  --primitives-color-wbc-pink-100: #ffecfb;
  --primitives-color-wbc-pink-200: #ffcff6;
  --primitives-color-wbc-pink-300: #ff9eed;
  --primitives-color-wbc-pink-400: #ff6ee4;
  --primitives-color-wbc-pink-500: #ff3ddb;
  --primitives-color-wbc-pink-600: #d934ba;
  --primitives-color-wbc-pink-700: #b32b99;
  --primitives-color-wbc-pink-800: #8c2278;
  --primitives-color-wbc-pink-900: #59154d;
  --primitives-color-wbc-pink-950: #330c2c;
  --primitives-color-wbc-pink-opacity: rgba(255, 61, 219, 0.45);
  --primitives-color-wbc-navy-50: #f1f0fa;
  --primitives-color-wbc-navy-100: #e2e1f4;
  --primitives-color-wbc-navy-200: #a9a5df;
  --primitives-color-wbc-navy-300: #6f69c9;
  --primitives-color-wbc-navy-400: #423c97;
  --primitives-color-wbc-navy-500: #1f1c4f;
  --primitives-color-wbc-navy-600: #18144d;
  --primitives-color-wbc-navy-700: #130f48;
  --primitives-color-wbc-navy-800: #0d093e;
  --primitives-color-wbc-navy-900: #090538;
  --primitives-color-wbc-navy-950: #060236;
  --primitives-color-wbc-navy-opacity: rgba(58, 52, 147, 0.6);
  --primitives-color-wbc-purple-50: #faf1fd;
  --primitives-color-wbc-purple-100: #ebcdf9;
  --primitives-color-wbc-purple-200: #ce84f0;
  --primitives-color-wbc-purple-300: #bc57eb;
  --primitives-color-wbc-purple-400: #ad32e6;
  --primitives-color-wbc-purple-500: #991ad6;
  --primitives-color-wbc-purple-600: #8717ba;
  --primitives-color-wbc-purple-700: #70139b;
  --primitives-color-wbc-purple-800: #5c0f7f;
  --primitives-color-wbc-purple-900: #450c5f;
  --primitives-color-wbc-purple-950: #2e0840;
  --primitives-color-wbc-purple-opacity: rgba(153, 26, 214, 0.5);
  --primitives-color-wbc-dark-red-50: #faf2f2;
  --primitives-color-wbc-dark-red-100: #f5d9d9;
  --primitives-color-wbc-dark-red-200: #efa2a2;
  --primitives-color-wbc-dark-red-300: #e76969;
  --primitives-color-wbc-dark-red-400: #cf2c2c;
  --primitives-color-wbc-dark-red-500: #990000;
  --primitives-color-wbc-dark-red-600: #860000;
  --primitives-color-wbc-dark-red-700: #710000;
  --primitives-color-wbc-dark-red-800: #5d0000;
  --primitives-color-wbc-dark-red-900: #4d0000;
  --primitives-color-wbc-dark-red-950: #410000;
  --primitives-color-wbc-dark-red-opacity: rgba(153, 0, 0, 0.5);
  --primitives-color-wbc-orange-50: #fef4eb;
  --primitives-color-wbc-orange-100: #fde7d3;
  --primitives-color-wbc-orange-200: #fbcba2;
  --primitives-color-wbc-orange-300: #f9b071;
  --primitives-color-wbc-orange-400: #f79540;
  --primitives-color-wbc-orange-500: #f57a0f;
  --primitives-color-wbc-orange-600: #ce6409;
  --primitives-color-wbc-orange-700: #9d4c07;
  --primitives-color-wbc-orange-800: #713705;
  --primitives-color-wbc-orange-900: #401f03;
  --primitives-color-wbc-orange-950: #2c1502;
  --primitives-color-wbc-orange-opacity: rgba(245, 122, 15, 0.45);
  --primitives-border-radius-none: 0;
  --primitives-border-radius-3px: 3;
  --primitives-border-radius-4px: 4;
  --primitives-border-radius-5px: 5;
  --primitives-border-radius-6px: 6;
  --primitives-border-radius-8px: 8;
  --primitives-border-radius-12px: 12;
  --primitives-border-radius-16px: 16;
  --primitives-border-radius-24px: 24;
  --primitives-border-radius-full: 999;
  --themes-westpac-color-text-body-lm: #161619;
  --themes-westpac-color-text-body-dm: #dedee1;
  --themes-westpac-color-text-heading-lm: #1f1c4f;
  --themes-westpac-color-text-heading-dm: #a9a5df;
  --themes-westpac-color-text-hero-lm: #1f1c4f;
  --themes-westpac-color-text-hero-dm: #a9a5df;
  --themes-westpac-color-surface-pictogram-base-lm: #1f1c4f;
  --themes-westpac-color-surface-pictogram-base-dm: #6f69c9;
  --themes-westpac-color-surface-pictogram-accent-lm: #da1710;
  --themes-westpac-color-surface-pictogram-accent-dm: #b9140e;
  --themes-westpac-color-surface-muted-vivid-lm: #161619;
  --themes-westpac-color-surface-muted-vivid-dm: #f9f9fa;
  --themes-westpac-color-muted-50: #f9f9fa;
  --themes-westpac-color-muted-100: #f5f5f6;
  --themes-westpac-color-muted-200: #dedee1;
  --themes-westpac-color-muted-300: #b6b6bc;
  --themes-westpac-color-muted-400: #8e8d98;
  --themes-westpac-color-muted-500: #706f7c;
  --themes-westpac-color-muted-600: #5b5b6a;
  --themes-westpac-color-muted-700: #464651;
  --themes-westpac-color-muted-800: #323238;
  --themes-westpac-color-muted-900: #1c1c1f;
  --themes-westpac-color-muted-950: #161619;
  --themes-westpac-color-primary-50: #fff0f0;
  --themes-westpac-color-primary-100: #facccb;
  --themes-westpac-color-primary-200: #f46e69;
  --themes-westpac-color-primary-300: #f1423c;
  --themes-westpac-color-primary-400: #ee221b;
  --themes-westpac-color-primary-500: #da1710;
  --themes-westpac-color-primary-600: #b9140e;
  --themes-westpac-color-primary-700: #99100b;
  --themes-westpac-color-primary-800: #780d09;
  --themes-westpac-color-primary-900: #570906;
  --themes-westpac-color-primary-950: #370604;
  --themes-westpac-color-primary-opacity: rgba(218, 23, 16, 0.5);
  --themes-westpac-color-hero-50: #f1f0fa;
  --themes-westpac-color-hero-100: #e2e1f4;
  --themes-westpac-color-hero-200: #a9a5df;
  --themes-westpac-color-hero-300: #6f69c9;
  --themes-westpac-color-hero-400: #423c97;
  --themes-westpac-color-hero-500: #1f1c4f;
  --themes-westpac-color-hero-600: #18144d;
  --themes-westpac-color-hero-700: #130f48;
  --themes-westpac-color-hero-800: #0d093e;
  --themes-westpac-color-hero-900: #090538;
  --themes-westpac-color-hero-950: #060236;
  --themes-westpac-color-hero-opacity: rgba(58, 52, 147, 0.6);
  --themes-westpac-color-pop-50: #fff5fd;
  --themes-westpac-color-pop-100: #ffecfb;
  --themes-westpac-color-pop-200: #ffcff6;
  --themes-westpac-color-pop-300: #ff9eed;
  --themes-westpac-color-pop-400: #ff6ee4;
  --themes-westpac-color-pop-500: #ff3ddb;
  --themes-westpac-color-pop-600: #d934ba;
  --themes-westpac-color-pop-700: #b32b99;
  --themes-westpac-color-pop-800: #8c2278;
  --themes-westpac-color-pop-900: #59154d;
  --themes-westpac-color-pop-950: #330c2c;
  --themes-westpac-color-pop-opacity: rgba(255, 61, 219, 0.45);
  --themes-westpac-color-holler-50: #faf1fd;
  --themes-westpac-color-holler-100: #ebcdf9;
  --themes-westpac-color-holler-200: #ce84f0;
  --themes-westpac-color-holler-300: #bc57eb;
  --themes-westpac-color-holler-400: #ad32e6;
  --themes-westpac-color-holler-500: #991ad6;
  --themes-westpac-color-holler-600: #8717ba;
  --themes-westpac-color-holler-700: #70139b;
  --themes-westpac-color-holler-800: #5c0f7f;
  --themes-westpac-color-holler-900: #450c5f;
  --themes-westpac-color-holler-950: #2e0840;
  --themes-westpac-color-holler-opacity: rgba(153, 26, 214, 0.5);
  --themes-westpac-color-sing-50: #faf2f2;
  --themes-westpac-color-sing-100: #f5d9d9;
  --themes-westpac-color-sing-200: #efa2a2;
  --themes-westpac-color-sing-300: #e76969;
  --themes-westpac-color-sing-400: #cf2c2c;
  --themes-westpac-color-sing-500: #990000;
  --themes-westpac-color-sing-600: #860000;
  --themes-westpac-color-sing-700: #710000;
  --themes-westpac-color-sing-800: #5d0000;
  --themes-westpac-color-sing-900: #4d0000;
  --themes-westpac-color-sing-950: #410000;
  --themes-westpac-color-sing-opacity: rgba(153, 0, 0, 0.5);
  --themes-westpac-color-dance-50: #fef4eb;
  --themes-westpac-color-dance-100: #fde7d3;
  --themes-westpac-color-dance-200: #fbcba2;
  --themes-westpac-color-dance-300: #f9b071;
  --themes-westpac-color-dance-400: #f79540;
  --themes-westpac-color-dance-500: #f57a0f;
  --themes-westpac-color-dance-600: #ce6409;
  --themes-westpac-color-dance-700: #9d4c07;
  --themes-westpac-color-dance-800: #713705;
  --themes-westpac-color-dance-900: #401f03;
  --themes-westpac-color-dance-950: #2c1502;
  --themes-westpac-color-dance-opacity: rgba(245, 122, 15, 0.45);
  --themes-westpac-color-mono-white: #ffffff;
  --themes-westpac-color-mono-black: #000000;
  --themes-westpac-color-success-50: #f2f9f2;
  --themes-westpac-color-success-100: #d9ecd9;
  --themes-westpac-color-success-200: #99cc99;
  --themes-westpac-color-success-300: #47a447;
  --themes-westpac-color-success-400: #249224;
  --themes-westpac-color-success-500: #008000;
  --themes-westpac-color-success-600: #006d00;
  --themes-westpac-color-success-700: #005a00;
  --themes-westpac-color-success-800: #004600;
  --themes-westpac-color-success-900: #003300;
  --themes-westpac-color-success-950: #002000;
  --themes-westpac-color-info-50: #f2f8fc;
  --themes-westpac-color-info-100: #d9eaf6;
  --themes-westpac-color-info-200: #99c7e7;
  --themes-westpac-color-info-300: #459ad4;
  --themes-westpac-color-info-400: #2487cc;
  --themes-westpac-color-info-500: #0074c4;
  --themes-westpac-color-info-600: #0063a7;
  --themes-westpac-color-info-700: #005189;
  --themes-westpac-color-info-800: #00406c;
  --themes-westpac-color-info-900: #002e4e;
  --themes-westpac-color-info-950: #001d31;
  --themes-westpac-color-warning-50: #fcf5f2;
  --themes-westpac-color-warning-100: #f3d8cc;
  --themes-westpac-color-warning-200: #e8b199;
  --themes-westpac-color-warning-300: #d7784f;
  --themes-westpac-color-warning-400: #ce5826;
  --themes-westpac-color-warning-500: #c53b00;
  --themes-westpac-color-warning-600: #a73200;
  --themes-westpac-color-warning-700: #8a2900;
  --themes-westpac-color-warning-800: #6c2000;
  --themes-westpac-color-warning-900: #4f1800;
  --themes-westpac-color-warning-950: #310f00;
  --themes-westpac-color-danger-50: #fcf2f2;
  --themes-westpac-color-danger-100: #f9e6e6;
  --themes-westpac-color-danger-200: #eaa6a6;
  --themes-westpac-color-danger-300: #db6363;
  --themes-westpac-color-danger-400: #d03333;
  --themes-westpac-color-danger-500: #c40000;
  --themes-westpac-color-danger-600: #a70000;
  --themes-westpac-color-danger-700: #890000;
  --themes-westpac-color-danger-800: #6c0000;
  --themes-westpac-color-danger-900: #4e0000;
  --themes-westpac-color-danger-950: #310000;
  --themes-westpac-color-system-50: #fffff2;
  --themes-westpac-color-system-100: #ffffe6;
  --themes-westpac-color-system-200: #ffffbf;
  --themes-westpac-color-system-300: #ffff80;
  --themes-westpac-color-system-400: #ffff40;
  --themes-westpac-color-system-500: #ffff00;
  --themes-westpac-color-system-600: #d9d900;
  --themes-westpac-color-system-700: #b3b300;
  --themes-westpac-color-system-800: #8c8c00;
  --themes-westpac-color-system-900: #666600;
  --themes-westpac-color-system-950: #404000;
  --themes-westpac-border-radius-none: 0;
  --themes-westpac-border-radius-sm: 3;
  --themes-westpac-border-radius-md: 4;
  --themes-westpac-border-radius-lg: 5;
  --themes-westpac-border-radius-xl: 6;
  --themes-westpac-border-radius-2xl: 8;
  --themes-westpac-border-radius-3xl: 12;
  --themes-westpac-border-radius-4xl: 16;
  --themes-westpac-border-radius-5xl: 24;
  --themes-westpac-border-radius-full: 999;
}

[data-brand="wbc"] {
  --color-background-white: var(--themes-westpac-color-mono-white); /* Use for screen and container background fills. If your screen background is white use this token. */
  --color-background-pale: var(--themes-westpac-color-muted-100); /* Use for screen and container background fills. Replaces current style: Background */
  --color-background-faint: var(--themes-westpac-color-muted-50); /* Use for screen and container background fills. Replaces current style: Light */
  --color-background-primary: var(--themes-westpac-color-primary-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-background-hero: var(--themes-westpac-color-hero-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-surface-muted-vivid: var(--themes-westpac-color-surface-muted-vivid-lm); /* Use for fills that need to be text colour. */
  --color-surface-muted: var(--themes-westpac-color-muted-500); /* Replaces current style: Muted */
  --color-surface-muted-strong: var(--themes-westpac-color-muted-400); /* Reserved. Do not use */
  --color-surface-muted-mild: var(--themes-westpac-color-muted-300); /* Reserved. Do not use */
  --color-surface-muted-soft: var(--themes-westpac-color-muted-200); /* Reserved. Do not use */
  --color-surface-muted-pale: var(--themes-westpac-color-muted-100); /* Replaces current style: Background */
  --color-surface-muted-faint: var(--themes-westpac-color-muted-50); /* Replaces current style: Light */
  --color-surface-primary: var(--themes-westpac-color-primary-500); /* Replaces current style: Primary */
  --color-surface-primary-faint: var(--themes-westpac-color-primary-50); /* Reserved do not use */
  --color-surface-hero: var(--themes-westpac-color-hero-500); /* Replaces current style: Hero */
  --color-surface-hero-faint: var(--themes-westpac-color-hero-50); /* Reserved do not use */
  --color-surface-pop: var(--themes-westpac-color-pop-500); /* Replaces current style: Pop. Use sparingly, embellishment only. */
  --color-surface-pop-faint: var(--themes-westpac-color-pop-50); /* Use sparingly, in accordance with the brand guidelines. For embellishment only. */
  --color-surface-holler: var(--themes-westpac-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-holler-faint: var(--themes-westpac-color-holler-50); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-success: var(--themes-westpac-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-success-faint: var(--themes-westpac-color-success-50); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-info: var(--themes-westpac-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-info-faint: var(--themes-westpac-color-info-50); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-warning: var(--themes-westpac-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-warning-faint: var(--themes-westpac-color-warning-50); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-danger: var(--themes-westpac-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-danger-faint: var(--themes-westpac-color-danger-50); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-system-error: var(--themes-westpac-color-system-500); /* Reserved. Must only be used for the System alert component. */
  --color-surface-system-error-dark: var(--themes-westpac-color-system-950); /* Reserved. Must only be used for the System messaging component. */
  --color-surface-mono: var(--themes-westpac-color-mono-white); /* Mono is either White or Black */
  --color-surface-reversed: var(--themes-westpac-color-mono-white); /* Reserved is always white. */
  --color-text-body: var(--themes-westpac-color-text-body-lm); /* Replaces current style: Text */
  --color-text-heading: var(--themes-westpac-color-text-heading-lm); /* Replaces current style: Heading */
  --color-text-muted: var(--themes-westpac-color-muted-500); /* Replaces current style: Muted */
  --color-text-primary: var(--themes-westpac-color-primary-500); /* Replaces current style: Primary */
  --color-text-hero: var(--themes-westpac-color-text-hero-lm); /* Replaces current style: Hero. Note: This is not the same as text-heading as it behaves differently in other brands. */
  --color-text-holler: var(--themes-westpac-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-text-link: var(--themes-westpac-color-primary-500); /* Replaces current style: Link */
  --color-text-success: var(--themes-westpac-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-text-info: var(--themes-westpac-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-text-warning: var(--themes-westpac-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-text-danger: var(--themes-westpac-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-text-system-error: var(--themes-westpac-color-system-950); /* Reserved. Must only be used for the System alert component. */
  --color-text-mono: var(--themes-westpac-color-mono-white); /* Mono text is either White or Black */
  --color-text-reversed: var(--themes-westpac-color-mono-white); /* Reversed text is always white */
  --color-border-muted: var(--themes-westpac-color-muted-500); /* Reserved. Do not use */
  --color-border-muted-strong: var(--themes-westpac-color-muted-400); /* Replaces current style: Border Dark */
  --color-border-muted-mild: var(--themes-westpac-color-muted-300); /* Reserved. Do not use */
  --color-border-muted-soft: var(--themes-westpac-color-muted-200); /* Replaces current style: Muted */
  --color-border-hero: var(--themes-westpac-color-hero-500); /* Replaces current style: Hero */
  --color-border-primary: var(--themes-westpac-color-primary-500); /* Replaces current style: Primary */
  --color-border-pop: var(--themes-westpac-color-pop-500); /* Replaces current style: Pop. Embellishment only, use sparingly and in accordance with the brand guidelines. */
  --color-border-holler: var(--themes-westpac-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-border-success: var(--themes-westpac-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-border-success-mild: var(--themes-westpac-color-success-300); /* Reserved. Must only be used for the Success alert component. */
  --color-border-info: var(--themes-westpac-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-border-info-mild: var(--themes-westpac-color-info-300); /* Reserved. Must only be used for the Info alert component. */
  --color-border-warning: var(--themes-westpac-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-warning-mild: var(--themes-westpac-color-warning-300); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-danger: var(--themes-westpac-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-danger-mild: var(--themes-westpac-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-mono: var(--themes-westpac-color-mono-white); /* Mono border is either White or Black */
  --color-border-focus: var(--themes-westpac-color-holler-300); /* Reserved. Only for use with focus state keyboard navigation. */
  --color-data-a-solid: var(--themes-westpac-color-primary-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-tint: var(--themes-westpac-color-primary-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-opacity: var(--themes-westpac-color-primary-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-solid: var(--themes-westpac-color-hero-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-tint: var(--themes-westpac-color-hero-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-opacity: var(--themes-westpac-color-hero-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-solid: var(--themes-westpac-color-pop-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-tint: var(--themes-westpac-color-pop-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-opacity: var(--themes-westpac-color-pop-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-solid: var(--themes-westpac-color-holler-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-tint: var(--themes-westpac-color-holler-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-opacity: var(--themes-westpac-color-holler-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-solid: var(--themes-westpac-color-sing-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-tint: var(--themes-westpac-color-sing-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-opacity: var(--themes-westpac-color-sing-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-solid: var(--themes-westpac-color-dance-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-tint: var(--themes-westpac-color-dance-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-opacity: var(--themes-westpac-color-dance-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-surface-pictogram-base: var(--themes-westpac-color-surface-pictogram-base-lm); /* Reserved. Only for use on Pictograms. */
  --color-surface-pictogram-accent: var(--themes-westpac-color-surface-pictogram-accent-lm); /* Reserved. Only for use on Pictograms. */
  --color-surface-hover-primary: var(--themes-westpac-color-primary-400); /* This token is for hover states. */
  --color-surface-active-primary: var(--themes-westpac-color-primary-200);
  --color-surface-hover-hero: var(--themes-westpac-color-hero-400); /* This token is for hover states. */
  --color-surface-active-hero: var(--themes-westpac-color-hero-300); /* This token is for hover states. */
  --color-surface-hover-primary-faint: var(--themes-westpac-color-primary-50); /* This token is for hover states. */
  --color-surface-active-primary-faint: var(--themes-westpac-color-primary-100); /* This token is for hover states. */
  --color-surface-hover-hero-faint: var(--themes-westpac-color-hero-50);
  --color-surface-active-hero-faint: var(--themes-westpac-color-hero-100);
  --color-surface-hover-muted-pale: var(--themes-westpac-color-muted-100); /* This token is for hover states. */
  --color-surface-active-muted-pale: var(--themes-westpac-color-muted-300); /* This token is for hover states. */
  --color-surface-hover-mono: var(--themes-westpac-color-mono-white); /* This token is for hover states. */
  --color-surface-active-mono: var(--themes-westpac-color-muted-200); /* This token is for hover states. */
  --border-rounded-none: var(--themes-westpac-border-radius-none);
  --border-rounded-sm: var(--themes-westpac-border-radius-sm);
  --border-rounded-md: var(--themes-westpac-border-radius-md);
  --border-rounded-lg: var(--themes-westpac-border-radius-lg);
  --border-rounded-xl: var(--themes-westpac-border-radius-xl);
  --border-rounded-2xl: var(--themes-westpac-border-radius-2xl);
  --border-rounded-3xl: var(--themes-westpac-border-radius-3xl);
  --border-rounded-4xl: var(--themes-westpac-border-radius-4xl);
  --border-rounded-5xl: var(--themes-westpac-border-radius-5xl);
  --border-rounded-full: var(--themes-westpac-border-radius-full);
}

[data-brand="wbc"][data-theme="dark"] {
  --color-background-white: var(--themes-westpac-color-muted-900); /* Use for screen and container background fills. If your screen background is white use this token. */
  --color-background-pale: var(--themes-westpac-color-muted-950); /* Use for screen and container background fills. Replaces current style: Background */
  --color-background-faint: var(--themes-westpac-color-muted-900); /* Use for screen and container background fills. Replaces current style: Light */
  --color-background-primary: var(--themes-westpac-color-primary-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-background-hero: var(--themes-westpac-color-hero-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-surface-muted-vivid: var(--themes-westpac-color-surface-muted-vivid-dm); /* Use for fills that need to be text colour. */
  --color-surface-muted: var(--themes-westpac-color-muted-400); /* Replaces current style: Muted */
  --color-surface-muted-strong: var(--themes-westpac-color-muted-600); /* Reserved. Do not use */
  --color-surface-muted-mild: var(--themes-westpac-color-muted-700); /* Reserved. Do not use */
  --color-surface-muted-soft: var(--themes-westpac-color-muted-800); /* Reserved. Do not use */
  --color-surface-muted-pale: var(--themes-westpac-color-muted-900); /* Replaces current style: Background */
  --color-surface-muted-faint: var(--themes-westpac-color-muted-950); /* Replaces current style: Light */
  --color-surface-primary: var(--themes-westpac-color-primary-400); /* Replaces current style: Primary */
  --color-surface-primary-faint: var(--themes-westpac-color-primary-950); /* Reserved do not use */
  --color-surface-hero: var(--themes-westpac-color-hero-300); /* Replaces current style: Hero */
  --color-surface-hero-faint: var(--themes-westpac-color-hero-950); /* Reserved do not use */
  --color-surface-pop: var(--themes-westpac-color-pop-500); /* Replaces current style: Pop. Use sparingly, embellishment only. */
  --color-surface-pop-faint: var(--themes-westpac-color-pop-950); /* Use sparingly, in accordance with the brand guidelines. For embellishment only. */
  --color-surface-holler: var(--themes-westpac-color-holler-400); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-holler-faint: var(--themes-westpac-color-holler-950); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-success: var(--themes-westpac-color-success-400); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-success-faint: var(--themes-westpac-color-success-900); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-info: var(--themes-westpac-color-info-400); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-info-faint: var(--themes-westpac-color-info-900); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-warning: var(--themes-westpac-color-warning-400); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-warning-faint: var(--themes-westpac-color-warning-900); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-danger: var(--themes-westpac-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-danger-faint: var(--themes-westpac-color-danger-900); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-system-error: var(--themes-westpac-color-system-950); /* Reserved. Must only be used for the System alert component. */
  --color-surface-system-error-dark: var(--themes-westpac-color-system-500); /* Reserved. Must only be used for the System messaging component. */
  --color-surface-mono: var(--themes-westpac-color-mono-black); /* Mono is either White or Black */
  --color-surface-reversed: var(--themes-westpac-color-mono-white); /* Reserved is always white. */
  --color-text-body: var(--themes-westpac-color-text-body-dm); /* Replaces current style: Text */
  --color-text-heading: var(--themes-westpac-color-text-heading-dm); /* Replaces current style: Heading */
  --color-text-muted: var(--themes-westpac-color-muted-400); /* Replaces current style: Muted */
  --color-text-primary: var(--themes-westpac-color-primary-300); /* Replaces current style: Primary */
  --color-text-hero: var(--themes-westpac-color-text-hero-dm); /* Replaces current style: Hero. Note: This is not the same as text-heading as it behaves differently in other brands. */
  --color-text-holler: var(--themes-westpac-color-holler-300); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-text-link: var(--themes-westpac-color-primary-300); /* Replaces current style: Link */
  --color-text-success: var(--themes-westpac-color-success-300); /* Reserved. Must only be used for the Success alert component. */
  --color-text-info: var(--themes-westpac-color-info-300); /* Reserved. Must only be used for the Info alert component. */
  --color-text-warning: var(--themes-westpac-color-warning-300); /* Reserved. Must only be used for the Warning alert component. */
  --color-text-danger: var(--themes-westpac-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-text-system-error: var(--themes-westpac-color-system-500); /* Reserved. Must only be used for the System alert component. */
  --color-text-mono: var(--themes-westpac-color-mono-black); /* Mono text is either White or Black */
  --color-text-reversed: var(--themes-westpac-color-mono-white); /* Reversed text is always white */
  --color-border-muted: var(--themes-westpac-color-muted-500); /* Reserved. Do not use */
  --color-border-muted-strong: var(--themes-westpac-color-muted-500); /* Replaces current style: Border Dark */
  --color-border-muted-mild: var(--themes-westpac-color-muted-700); /* Reserved. Do not use */
  --color-border-muted-soft: var(--themes-westpac-color-muted-800); /* Replaces current style: Muted */
  --color-border-hero: var(--themes-westpac-color-hero-300); /* Replaces current style: Hero */
  --color-border-primary: var(--themes-westpac-color-primary-400); /* Replaces current style: Primary */
  --color-border-pop: var(--themes-westpac-color-pop-800); /* Replaces current style: Pop. Embellishment only, use sparingly and in accordance with the brand guidelines. */
  --color-border-holler: var(--themes-westpac-color-holler-400); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-border-success: var(--themes-westpac-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-border-success-mild: var(--themes-westpac-color-success-700); /* Reserved. Must only be used for the Success alert component. */
  --color-border-info: var(--themes-westpac-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-border-info-mild: var(--themes-westpac-color-info-700); /* Reserved. Must only be used for the Info alert component. */
  --color-border-warning: var(--themes-westpac-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-warning-mild: var(--themes-westpac-color-warning-700); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-danger: var(--themes-westpac-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-danger-mild: var(--themes-westpac-color-danger-700); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-mono: var(--themes-westpac-color-mono-black); /* Mono border is either White or Black */
  --color-border-focus: var(--themes-westpac-color-holler-400); /* Reserved. Only for use with focus state keyboard navigation. */
  --color-data-a-solid: var(--themes-westpac-color-primary-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-tint: var(--themes-westpac-color-primary-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-opacity: var(--themes-westpac-color-primary-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-solid: var(--themes-westpac-color-hero-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-tint: var(--themes-westpac-color-hero-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-opacity: var(--themes-westpac-color-hero-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-solid: var(--themes-westpac-color-pop-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-tint: var(--themes-westpac-color-pop-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-opacity: var(--themes-westpac-color-pop-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-solid: var(--themes-westpac-color-holler-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-tint: var(--themes-westpac-color-holler-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-opacity: var(--themes-westpac-color-holler-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-solid: var(--themes-westpac-color-sing-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-tint: var(--themes-westpac-color-sing-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-opacity: var(--themes-westpac-color-sing-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-solid: var(--themes-westpac-color-dance-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-tint: var(--themes-westpac-color-dance-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-opacity: var(--themes-westpac-color-dance-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-surface-pictogram-base: var(--themes-westpac-color-surface-pictogram-base-dm); /* Reserved. Only for use on Pictograms. */
  --color-surface-pictogram-accent: var(--themes-westpac-color-surface-pictogram-accent-dm); /* Reserved. Only for use on Pictograms. */
  --color-surface-hover-primary: var(--themes-westpac-color-primary-200); /* This token is for hover states. */
  --color-surface-active-primary: var(--themes-westpac-color-primary-100);
  --color-surface-hover-hero: var(--themes-westpac-color-hero-200); /* This token is for hover states. */
  --color-surface-active-hero: var(--themes-westpac-color-hero-100); /* This token is for hover states. */
  --color-surface-hover-primary-faint: var(--themes-westpac-color-primary-900); /* This token is for hover states. */
  --color-surface-active-primary-faint: var(--themes-westpac-color-primary-800); /* This token is for hover states. */
  --color-surface-hover-hero-faint: var(--themes-westpac-color-hero-800);
  --color-surface-active-hero-faint: var(--themes-westpac-color-hero-400);
  --color-surface-hover-muted-pale: var(--themes-westpac-color-muted-800); /* This token is for hover states. */
  --color-surface-active-muted-pale: var(--themes-westpac-color-muted-600); /* This token is for hover states. */
  --color-surface-hover-mono: var(--themes-westpac-color-mono-black); /* This token is for hover states. */
  --color-surface-active-mono: var(--themes-westpac-color-muted-800); /* This token is for hover states. */
  --border-rounded-none: var(--themes-westpac-border-radius-none);
  --border-rounded-sm: var(--themes-westpac-border-radius-sm);
  --border-rounded-md: var(--themes-westpac-border-radius-md);
  --border-rounded-lg: var(--themes-westpac-border-radius-lg);
  --border-rounded-xl: var(--themes-westpac-border-radius-xl);
  --border-rounded-2xl: var(--themes-westpac-border-radius-2xl);
  --border-rounded-3xl: var(--themes-westpac-border-radius-3xl);
  --border-rounded-4xl: var(--themes-westpac-border-radius-4xl);
  --border-rounded-5xl: var(--themes-westpac-border-radius-5xl);
  --border-rounded-full: var(--themes-westpac-border-radius-full);
}

