:root, :host {
  --primitives-color-green-50: #f2f9f2;
  --primitives-color-green-100: #d9ecd9;
  --primitives-color-green-200: #99cc99;
  --primitives-color-green-300: #47a447;
  --primitives-color-green-400: #249224;
  --primitives-color-green-500: #008000;
  --primitives-color-green-600: #006d00;
  --primitives-color-green-700: #005a00;
  --primitives-color-green-800: #004600;
  --primitives-color-green-900: #003300;
  --primitives-color-green-950: #002000;
  --primitives-color-blue-50: #f2f8fc;
  --primitives-color-blue-100: #d9eaf6;
  --primitives-color-blue-200: #99c7e7;
  --primitives-color-blue-300: #459ad4;
  --primitives-color-blue-400: #2487cc;
  --primitives-color-blue-500: #0074c4;
  --primitives-color-blue-600: #0063a7;
  --primitives-color-blue-700: #005189;
  --primitives-color-blue-800: #00406c;
  --primitives-color-blue-900: #002e4e;
  --primitives-color-blue-950: #001d31;
  --primitives-color-orange-50: #fcf5f2;
  --primitives-color-orange-100: #f3d8cc;
  --primitives-color-orange-200: #e8b199;
  --primitives-color-orange-300: #d7784f;
  --primitives-color-orange-400: #ce5826;
  --primitives-color-orange-500: #c53b00;
  --primitives-color-orange-600: #a73200;
  --primitives-color-orange-700: #8a2900;
  --primitives-color-orange-800: #6c2000;
  --primitives-color-orange-900: #4f1800;
  --primitives-color-orange-950: #310f00;
  --primitives-color-red-50: #fcf2f2;
  --primitives-color-red-100: #f9e6e6;
  --primitives-color-red-200: #eaa6a6;
  --primitives-color-red-300: #db6363;
  --primitives-color-red-400: #d03333;
  --primitives-color-red-500: #c40000;
  --primitives-color-red-600: #a70000;
  --primitives-color-red-700: #890000;
  --primitives-color-red-800: #6c0000;
  --primitives-color-red-900: #4e0000;
  --primitives-color-red-950: #310000;
  --primitives-color-yellow-50: #fffff2;
  --primitives-color-yellow-100: #ffffe6;
  --primitives-color-yellow-200: #ffffbf;
  --primitives-color-yellow-300: #ffff80;
  --primitives-color-yellow-400: #ffff40;
  --primitives-color-yellow-500: #ffff00;
  --primitives-color-yellow-600: #d9d900;
  --primitives-color-yellow-700: #b3b300;
  --primitives-color-yellow-800: #8c8c00;
  --primitives-color-yellow-900: #666600;
  --primitives-color-yellow-950: #404000;
  --primitives-color-stg-grey-50: #f9f9f9;
  --primitives-color-stg-grey-100: #f5f5f4;
  --primitives-color-stg-grey-200: #e1e1e0;
  --primitives-color-stg-grey-300: #b2b2ae;
  --primitives-color-stg-grey-400: #8d8c81;
  --primitives-color-stg-grey-500: #727163;
  --primitives-color-stg-grey-600: #5e5d55;
  --primitives-color-stg-grey-700: #4c4c48;
  --primitives-color-stg-grey-800: #393937;
  --primitives-color-stg-grey-900: #1c1c1c;
  --primitives-color-stg-grey-950: #141414;
  --primitives-color-stg-red-50: #fff0f0;
  --primitives-color-stg-red-100: #ffc7c7;
  --primitives-color-stg-red-200: #f87272;
  --primitives-color-stg-red-300: #f44343;
  --primitives-color-stg-red-400: #f21818;
  --primitives-color-stg-red-500: #e30000;
  --primitives-color-stg-red-600: #bc0000;
  --primitives-color-stg-red-700: #980000;
  --primitives-color-stg-red-800: #750000;
  --primitives-color-stg-red-900: #5b0000;
  --primitives-color-stg-red-950: #380000;
  --primitives-color-stg-red-opacity: rgba(227, 0, 0, 0.3);
  --primitives-color-stg-access-green-50: #ecf8f0;
  --primitives-color-stg-access-green-100: #c2eace;
  --primitives-color-stg-access-green-200: #6dcb89;
  --primitives-color-stg-access-green-300: #2fa854;
  --primitives-color-stg-access-green-400: #219d4b;
  --primitives-color-stg-access-green-500: #008739;
  --primitives-color-stg-access-green-600: #007334;
  --primitives-color-stg-access-green-700: #005f32;
  --primitives-color-stg-access-green-800: #004833;
  --primitives-color-stg-access-green-900: #003323;
  --primitives-color-stg-access-green-950: #002a1c;
  --primitives-color-stg-access-green-opacity: rgba(0, 135, 57, 0.45);
  --primitives-color-stg-green-50: #f1fbe5;
  --primitives-color-stg-green-100: #e5f7cf;
  --primitives-color-stg-green-200: #c2ec8e;
  --primitives-color-stg-green-300: #abe562;
  --primitives-color-stg-green-400: #93d83b;
  --primitives-color-stg-green-500: #78be20;
  --primitives-color-stg-green-600: #619b18;
  --primitives-color-stg-green-700: #4b7910;
  --primitives-color-stg-green-800: #365909;
  --primitives-color-stg-green-900: #223b04;
  --primitives-color-stg-green-950: #132402;
  --primitives-color-stg-green-opacity: rgba(120, 190, 32, 0.45);
  --primitives-color-stg-sky-50: #edf8fe;
  --primitives-color-stg-sky-100: #e1f4fe;
  --primitives-color-stg-sky-200: #b9e6fc;
  --primitives-color-stg-sky-300: #91dcfb;
  --primitives-color-stg-sky-400: #5ad2fa;
  --primitives-color-stg-sky-500: #3fc3eb;
  --primitives-color-stg-sky-600: #319cbd;
  --primitives-color-stg-sky-700: #23768f;
  --primitives-color-stg-sky-800: #155264;
  --primitives-color-stg-sky-900: #09303c;
  --primitives-color-stg-sky-950: #04212a;
  --primitives-color-stg-sky-opacity: rgba(63, 195, 235, 0.3);
  --primitives-color-stg-plum-50: #f5f2fb;
  --primitives-color-stg-plum-100: #e6dff5;
  --primitives-color-stg-plum-200: #bba3e2;
  --primitives-color-stg-plum-300: #9b73d2;
  --primitives-color-stg-plum-400: #7947b4;
  --primitives-color-stg-plum-500: #502d79;
  --primitives-color-stg-plum-600: #46276b;
  --primitives-color-stg-plum-700: #3e225f;
  --primitives-color-stg-plum-800: #341b50;
  --primitives-color-stg-plum-900: #2c1645;
  --primitives-color-stg-plum-950: #27133e;
  --primitives-color-stg-plum-opacity: rgba(80, 45, 121, 0.3);
  --primitives-color-stg-amber-50: #fff3eb;
  --primitives-color-stg-amber-100: #ffe7d6;
  --primitives-color-stg-amber-200: #ffcba8;
  --primitives-color-stg-amber-300: #ffb380;
  --primitives-color-stg-amber-400: #ff9752;
  --primitives-color-stg-amber-500: #ff7f29;
  --primitives-color-stg-amber-600: #cf6200;
  --primitives-color-stg-amber-700: #9d4800;
  --primitives-color-stg-amber-800: #6e3100;
  --primitives-color-stg-amber-900: #421a00;
  --primitives-color-stg-amber-950: #2c0f00;
  --primitives-color-stg-amber-opacity: rgba(255, 127, 41, 0.4);
  --primitives-color-stg-yellow-50: #fffae5;
  --primitives-color-stg-yellow-100: #fff5cc;
  --primitives-color-stg-yellow-200: #ffeb99;
  --primitives-color-stg-yellow-300: #ffe166;
  --primitives-color-stg-yellow-400: #ffd733;
  --primitives-color-stg-yellow-500: #ffcd00;
  --primitives-color-stg-yellow-600: #cca400;
  --primitives-color-stg-yellow-700: #997b00;
  --primitives-color-stg-yellow-800: #665200;
  --primitives-color-stg-yellow-900: #332900;
  --primitives-color-stg-yellow-950: #1a1500;
  --primitives-border-radius-none: 0;
  --primitives-border-radius-3px: 3;
  --primitives-border-radius-4px: 4;
  --primitives-border-radius-5px: 5;
  --primitives-border-radius-6px: 6;
  --primitives-border-radius-8px: 8;
  --primitives-border-radius-12px: 12;
  --primitives-border-radius-16px: 16;
  --primitives-border-radius-24px: 24;
  --primitives-border-radius-full: 999;
  --themes-st-george-color-text-body-lm: #004833;
  --themes-st-george-color-text-body-dm: #e1e1e0;
  --themes-st-george-color-text-heading-lm: #007334;
  --themes-st-george-color-text-heading-dm: #2fa854;
  --themes-st-george-color-text-hero-lm: #007334;
  --themes-st-george-color-text-hero-dm: #2fa854;
  --themes-st-george-color-surface-pictogram-base-lm: #004833;
  --themes-st-george-color-surface-pictogram-base-dm: #219d4b;
  --themes-st-george-color-surface-pictogram-accent-lm: #78be20;
  --themes-st-george-color-surface-pictogram-accent-dm: #93d83b;
  --themes-st-george-color-surface-muted-vivid-lm: #004833;
  --themes-st-george-color-surface-muted-vivid-dm: #f9f9f9;
  --themes-st-george-color-muted-50: #f9f9f9;
  --themes-st-george-color-muted-100: #f5f5f4;
  --themes-st-george-color-muted-200: #e1e1e0;
  --themes-st-george-color-muted-300: #b2b2ae;
  --themes-st-george-color-muted-400: #8d8c81;
  --themes-st-george-color-muted-500: #727163;
  --themes-st-george-color-muted-600: #5e5d55;
  --themes-st-george-color-muted-700: #4c4c48;
  --themes-st-george-color-muted-800: #393937;
  --themes-st-george-color-muted-900: #1c1c1c;
  --themes-st-george-color-muted-950: #141414;
  --themes-st-george-color-primary-50: #fff0f0;
  --themes-st-george-color-primary-100: #ffc7c7;
  --themes-st-george-color-primary-200: #f87272;
  --themes-st-george-color-primary-300: #f44343;
  --themes-st-george-color-primary-400: #f21818;
  --themes-st-george-color-primary-500: #e30000;
  --themes-st-george-color-primary-600: #bc0000;
  --themes-st-george-color-primary-700: #980000;
  --themes-st-george-color-primary-800: #750000;
  --themes-st-george-color-primary-900: #5b0000;
  --themes-st-george-color-primary-950: #380000;
  --themes-st-george-color-primary-opacity: rgba(227, 0, 0, 0.3);
  --themes-st-george-color-hero-50: #ecf8f0;
  --themes-st-george-color-hero-100: #c2eace;
  --themes-st-george-color-hero-200: #6dcb89;
  --themes-st-george-color-hero-300: #2fa854;
  --themes-st-george-color-hero-400: #219d4b;
  --themes-st-george-color-hero-500: #008739;
  --themes-st-george-color-hero-600: #007334;
  --themes-st-george-color-hero-700: #005f32;
  --themes-st-george-color-hero-800: #004833;
  --themes-st-george-color-hero-900: #003323;
  --themes-st-george-color-hero-950: #002a1c;
  --themes-st-george-color-hero-opacity: rgba(0, 135, 57, 0.45);
  --themes-st-george-color-pop-50: #f1fbe5;
  --themes-st-george-color-pop-100: #e5f7cf;
  --themes-st-george-color-pop-200: #c2ec8e;
  --themes-st-george-color-pop-300: #abe562;
  --themes-st-george-color-pop-400: #93d83b;
  --themes-st-george-color-pop-500: #78be20;
  --themes-st-george-color-pop-600: #619b18;
  --themes-st-george-color-pop-700: #4b7910;
  --themes-st-george-color-pop-800: #365909;
  --themes-st-george-color-pop-900: #223b04;
  --themes-st-george-color-pop-950: #132402;
  --themes-st-george-color-pop-opacity: rgba(120, 190, 32, 0.45);
  --themes-st-george-color-holler-50: #f5f2fb;
  --themes-st-george-color-holler-100: #e6dff5;
  --themes-st-george-color-holler-200: #bba3e2;
  --themes-st-george-color-holler-300: #9b73d2;
  --themes-st-george-color-holler-400: #7947b4;
  --themes-st-george-color-holler-500: #502d79;
  --themes-st-george-color-holler-600: #46276b;
  --themes-st-george-color-holler-700: #3e225f;
  --themes-st-george-color-holler-800: #341b50;
  --themes-st-george-color-holler-900: #2c1645;
  --themes-st-george-color-holler-950: #27133e;
  --themes-st-george-color-holler-opacity: rgba(80, 45, 121, 0.3);
  --themes-st-george-color-sing-50: #edf8fe;
  --themes-st-george-color-sing-100: #e1f4fe;
  --themes-st-george-color-sing-200: #b9e6fc;
  --themes-st-george-color-sing-300: #91dcfb;
  --themes-st-george-color-sing-400: #5ad2fa;
  --themes-st-george-color-sing-500: #3fc3eb;
  --themes-st-george-color-sing-600: #319cbd;
  --themes-st-george-color-sing-700: #23768f;
  --themes-st-george-color-sing-800: #155264;
  --themes-st-george-color-sing-900: #09303c;
  --themes-st-george-color-sing-950: #04212a;
  --themes-st-george-color-sing-opacity: rgba(63, 195, 235, 0.3);
  --themes-st-george-color-dance-50: #fff3eb;
  --themes-st-george-color-dance-100: #ffe7d6;
  --themes-st-george-color-dance-200: #ffcba8;
  --themes-st-george-color-dance-300: #ffb380;
  --themes-st-george-color-dance-400: #ff9752;
  --themes-st-george-color-dance-500: #ff7f29;
  --themes-st-george-color-dance-600: #cf6200;
  --themes-st-george-color-dance-700: #9d4800;
  --themes-st-george-color-dance-800: #6e3100;
  --themes-st-george-color-dance-900: #421a00;
  --themes-st-george-color-dance-950: #2c0f00;
  --themes-st-george-color-dance-opacity: rgba(255, 127, 41, 0.4);
  --themes-st-george-color-mono-white: #ffffff;
  --themes-st-george-color-mono-black: #000000;
  --themes-st-george-color-success-50: #f2f9f2;
  --themes-st-george-color-success-100: #d9ecd9;
  --themes-st-george-color-success-200: #99cc99;
  --themes-st-george-color-success-300: #47a447;
  --themes-st-george-color-success-400: #249224;
  --themes-st-george-color-success-500: #008000;
  --themes-st-george-color-success-600: #006d00;
  --themes-st-george-color-success-700: #005a00;
  --themes-st-george-color-success-800: #004600;
  --themes-st-george-color-success-900: #003300;
  --themes-st-george-color-success-950: #002000;
  --themes-st-george-color-info-50: #f2f8fc;
  --themes-st-george-color-info-100: #d9eaf6;
  --themes-st-george-color-info-200: #99c7e7;
  --themes-st-george-color-info-300: #459ad4;
  --themes-st-george-color-info-400: #2487cc;
  --themes-st-george-color-info-500: #0074c4;
  --themes-st-george-color-info-600: #0063a7;
  --themes-st-george-color-info-700: #005189;
  --themes-st-george-color-info-800: #00406c;
  --themes-st-george-color-info-900: #002e4e;
  --themes-st-george-color-info-950: #001d31;
  --themes-st-george-color-warning-50: #fcf5f2;
  --themes-st-george-color-warning-100: #f3d8cc;
  --themes-st-george-color-warning-200: #e8b199;
  --themes-st-george-color-warning-300: #d7784f;
  --themes-st-george-color-warning-400: #ce5826;
  --themes-st-george-color-warning-500: #c53b00;
  --themes-st-george-color-warning-600: #a73200;
  --themes-st-george-color-warning-700: #8a2900;
  --themes-st-george-color-warning-800: #6c2000;
  --themes-st-george-color-warning-900: #4f1800;
  --themes-st-george-color-warning-950: #310f00;
  --themes-st-george-color-danger-50: #fcf2f2;
  --themes-st-george-color-danger-100: #f9e6e6;
  --themes-st-george-color-danger-200: #eaa6a6;
  --themes-st-george-color-danger-300: #db6363;
  --themes-st-george-color-danger-400: #d03333;
  --themes-st-george-color-danger-500: #c40000;
  --themes-st-george-color-danger-600: #a70000;
  --themes-st-george-color-danger-700: #890000;
  --themes-st-george-color-danger-800: #6c0000;
  --themes-st-george-color-danger-900: #4e0000;
  --themes-st-george-color-danger-950: #310000;
  --themes-st-george-color-system-50: #fffff2;
  --themes-st-george-color-system-100: #ffffe6;
  --themes-st-george-color-system-200: #ffffbf;
  --themes-st-george-color-system-300: #ffff80;
  --themes-st-george-color-system-400: #ffff40;
  --themes-st-george-color-system-500: #ffff00;
  --themes-st-george-color-system-600: #d9d900;
  --themes-st-george-color-system-700: #b3b300;
  --themes-st-george-color-system-800: #8c8c00;
  --themes-st-george-color-system-900: #666600;
  --themes-st-george-color-system-950: #404000;
  --themes-st-george-border-radius-none: 0;
  --themes-st-george-border-radius-sm: 3;
  --themes-st-george-border-radius-md: 4;
  --themes-st-george-border-radius-lg: 5;
  --themes-st-george-border-radius-xl: 6;
  --themes-st-george-border-radius-2xl: 8;
  --themes-st-george-border-radius-3xl: 12;
  --themes-st-george-border-radius-4xl: 16;
  --themes-st-george-border-radius-5xl: 24;
  --themes-st-george-border-radius-full: 999;
}

[data-brand="stg"] {
  --color-background-white-pale: var(--themes-st-george-color-mono-white); /* Use for screen and container background fills. If your screen background is white use this token. */
  --color-background-pale-faint: var(--themes-st-george-color-muted-100); /* Use for screen and container background fills. Replaces current style: Background */
  --color-background-faint-pale: var(--themes-st-george-color-muted-50); /* Use for screen and container background fills. Replaces current style: Light */
  --color-background-white-faint: var(--themes-st-george-color-mono-white); /* Use for screen backgrounds to establish correct emphasis. */
  --color-background-white-black: var(--themes-st-george-color-mono-white); /* This token is reserved. Do not use. */
  --color-background-pale-black: var(--themes-st-george-color-muted-100); /* This token is reserved. Do not use. */
  --color-background-primary: var(--themes-st-george-color-primary-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-background-hero: var(--themes-st-george-color-hero-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-surface-muted-vivid: var(--themes-st-george-color-surface-muted-vivid-lm); /* Use for fills that need to be text colour. */
  --color-surface-muted: var(--themes-st-george-color-muted-500); /* Replaces current style: Muted */
  --color-surface-muted-strong: var(--themes-st-george-color-muted-400); /* Reserved. Do not use */
  --color-surface-muted-mild: var(--themes-st-george-color-muted-300); /* Reserved. Do not use */
  --color-surface-muted-soft: var(--themes-st-george-color-muted-200); /* Reserved. Do not use */
  --color-surface-muted-pale: var(--themes-st-george-color-muted-100); /* Replaces current style: Background */
  --color-surface-muted-faint: var(--themes-st-george-color-muted-50); /* Replaces current style: Light */
  --color-surface-primary: var(--themes-st-george-color-primary-500); /* Replaces current style: Primary */
  --color-surface-primary-faint: var(--themes-st-george-color-primary-50); /* Reserved do not use */
  --color-surface-hero: var(--themes-st-george-color-hero-500); /* Replaces current style: Hero */
  --color-surface-hero-faint: var(--themes-st-george-color-hero-50); /* Reserved do not use */
  --color-surface-pop: var(--themes-st-george-color-pop-500); /* Replaces current style: Pop. Use sparingly, embellishment only. */
  --color-surface-pop-faint: var(--themes-st-george-color-pop-50); /* Use sparingly, in accordance with the brand guidelines. For embellishment only. */
  --color-surface-holler: var(--themes-st-george-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-holler-faint: var(--themes-st-george-color-holler-50); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-success: var(--themes-st-george-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-success-faint: var(--themes-st-george-color-success-50); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-info: var(--themes-st-george-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-info-faint: var(--themes-st-george-color-info-50); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-warning: var(--themes-st-george-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-warning-faint: var(--themes-st-george-color-warning-50); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-danger: var(--themes-st-george-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-danger-faint: var(--themes-st-george-color-danger-50); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-system-error: var(--themes-st-george-color-system-500); /* Reserved. Must only be used for the System alert component. */
  --color-surface-system-error-dark: var(--themes-st-george-color-system-950); /* Reserved. Must only be used for the System messaging component. */
  --color-surface-mono: var(--themes-st-george-color-mono-white); /* Mono is either White or Black */
  --color-surface-reversed: var(--themes-st-george-color-mono-white); /* Reserved is always white. */
  --color-text-body: var(--themes-st-george-color-text-body-lm); /* Replaces current style: Text */
  --color-text-heading: var(--themes-st-george-color-text-heading-lm); /* Replaces current style: Heading */
  --color-text-muted: var(--themes-st-george-color-muted-500); /* Replaces current style: Muted */
  --color-text-primary: var(--themes-st-george-color-primary-500); /* Replaces current style: Primary */
  --color-text-hero: var(--themes-st-george-color-text-hero-lm); /* Replaces current style: Hero. Note: This is not the same as text-heading as it behaves differently in other brands. */
  --color-text-holler: var(--themes-st-george-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-text-link: var(--themes-st-george-color-primary-500); /* Replaces current style: Link */
  --color-text-success: var(--themes-st-george-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-text-info: var(--themes-st-george-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-text-warning: var(--themes-st-george-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-text-danger: var(--themes-st-george-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-text-system-error: var(--themes-st-george-color-system-950); /* Reserved. Must only be used for the System alert component. */
  --color-text-mono: var(--themes-st-george-color-mono-white); /* Mono text is either White or Black */
  --color-text-reversed: var(--themes-st-george-color-mono-white); /* Reversed text is always white */
  --color-border-muted: var(--themes-st-george-color-muted-500); /* Reserved. Do not use */
  --color-border-muted-strong: var(--themes-st-george-color-muted-400); /* Replaces current style: Border Dark */
  --color-border-muted-mild: var(--themes-st-george-color-muted-300); /* Reserved. Do not use */
  --color-border-muted-soft: var(--themes-st-george-color-muted-200); /* Replaces current style: Muted */
  --color-border-hero: var(--themes-st-george-color-hero-500); /* Replaces current style: Hero */
  --color-border-primary: var(--themes-st-george-color-primary-500); /* Replaces current style: Primary */
  --color-border-pop: var(--themes-st-george-color-pop-500); /* Replaces current style: Pop. Embellishment only, use sparingly and in accordance with the brand guidelines. */
  --color-border-holler: var(--themes-st-george-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-border-success: var(--themes-st-george-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-border-success-mild: var(--themes-st-george-color-success-300); /* Reserved. Must only be used for the Success alert component. */
  --color-border-info: var(--themes-st-george-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-border-info-mild: var(--themes-st-george-color-info-300); /* Reserved. Must only be used for the Info alert component. */
  --color-border-warning: var(--themes-st-george-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-warning-mild: var(--themes-st-george-color-warning-300); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-danger: var(--themes-st-george-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-danger-mild: var(--themes-st-george-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-mono: var(--themes-st-george-color-mono-white); /* Mono border is either White or Black */
  --color-border-focus: var(--themes-st-george-color-holler-300); /* Reserved. Only for use with focus state keyboard navigation. */
  --color-data-a-solid: var(--themes-st-george-color-primary-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-tint: var(--themes-st-george-color-primary-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-opacity: var(--themes-st-george-color-primary-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-solid: var(--themes-st-george-color-hero-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-tint: var(--themes-st-george-color-hero-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-opacity: var(--themes-st-george-color-hero-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-solid: var(--themes-st-george-color-pop-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-tint: var(--themes-st-george-color-pop-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-opacity: var(--themes-st-george-color-pop-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-solid: var(--themes-st-george-color-holler-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-tint: var(--themes-st-george-color-holler-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-opacity: var(--themes-st-george-color-holler-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-solid: var(--themes-st-george-color-sing-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-tint: var(--themes-st-george-color-sing-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-opacity: var(--themes-st-george-color-sing-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-solid: var(--themes-st-george-color-dance-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-tint: var(--themes-st-george-color-dance-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-opacity: var(--themes-st-george-color-dance-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-surface-pictogram-base: var(--themes-st-george-color-surface-pictogram-base-lm); /* Reserved. Only for use on Pictograms. */
  --color-surface-pictogram-accent: var(--themes-st-george-color-surface-pictogram-accent-lm); /* Reserved. Only for use on Pictograms. */
  --color-surface-hover-primary: var(--themes-st-george-color-primary-400); /* This token is for hover states. */
  --color-surface-active-primary: var(--themes-st-george-color-primary-200);
  --color-surface-hover-hero: var(--themes-st-george-color-hero-400); /* This token is for hover states. */
  --color-surface-active-hero: var(--themes-st-george-color-hero-300); /* This token is for hover states. */
  --color-surface-hover-primary-faint: var(--themes-st-george-color-primary-50); /* This token is for hover states. */
  --color-surface-active-primary-faint: var(--themes-st-george-color-primary-100); /* This token is for hover states. */
  --color-surface-hover-hero-faint: var(--themes-st-george-color-hero-50);
  --color-surface-active-hero-faint: var(--themes-st-george-color-hero-100);
  --color-surface-hover-muted-pale: var(--themes-st-george-color-muted-100); /* This token is for hover states. */
  --color-surface-active-muted-pale: var(--themes-st-george-color-muted-300); /* This token is for hover states. */
  --color-surface-hover-mono: var(--themes-st-george-color-mono-white); /* This token is for hover states. */
  --color-surface-active-mono: var(--themes-st-george-color-muted-200); /* This token is for hover states. */
  --border-rounded-none: var(--themes-st-george-border-radius-none);
  --border-rounded-sm: var(--themes-st-george-border-radius-sm);
  --border-rounded-md: var(--themes-st-george-border-radius-md);
  --border-rounded-lg: var(--themes-st-george-border-radius-lg);
  --border-rounded-xl: var(--themes-st-george-border-radius-xl);
  --border-rounded-2xl: var(--themes-st-george-border-radius-2xl);
  --border-rounded-3xl: var(--themes-st-george-border-radius-3xl);
  --border-rounded-4xl: var(--themes-st-george-border-radius-4xl);
  --border-rounded-5xl: var(--themes-st-george-border-radius-5xl);
  --border-rounded-full: var(--themes-st-george-border-radius-full);
}

[data-brand="stg"][data-theme="dark"] {
  --color-background-white-pale: var(--themes-st-george-color-muted-900); /* Use for screen and container background fills. If your screen background is white use this token. */
  --color-background-pale-faint: var(--themes-st-george-color-muted-950); /* Use for screen and container background fills. Replaces current style: Background */
  --color-background-faint-pale: var(--themes-st-george-color-muted-900); /* Use for screen and container background fills. Replaces current style: Light */
  --color-background-white-faint: var(--themes-st-george-color-muted-950); /* Use for screen backgrounds to establish correct emphasis. */
  --color-background-white-black: var(--themes-st-george-color-mono-black); /* This token is reserved. Do not use. */
  --color-background-pale-black: var(--themes-st-george-color-mono-black); /* This token is reserved. Do not use. */
  --color-background-primary: var(--themes-st-george-color-primary-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-background-hero: var(--themes-st-george-color-hero-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-surface-muted-vivid: var(--themes-st-george-color-surface-muted-vivid-dm); /* Use for fills that need to be text colour. */
  --color-surface-muted: var(--themes-st-george-color-muted-400); /* Replaces current style: Muted */
  --color-surface-muted-strong: var(--themes-st-george-color-muted-600); /* Reserved. Do not use */
  --color-surface-muted-mild: var(--themes-st-george-color-muted-700); /* Reserved. Do not use */
  --color-surface-muted-soft: var(--themes-st-george-color-muted-800); /* Reserved. Do not use */
  --color-surface-muted-pale: var(--themes-st-george-color-muted-900); /* Replaces current style: Background */
  --color-surface-muted-faint: var(--themes-st-george-color-muted-950); /* Replaces current style: Light */
  --color-surface-primary: var(--themes-st-george-color-primary-400); /* Replaces current style: Primary */
  --color-surface-primary-faint: var(--themes-st-george-color-primary-950); /* Reserved do not use */
  --color-surface-hero: var(--themes-st-george-color-hero-300); /* Replaces current style: Hero */
  --color-surface-hero-faint: var(--themes-st-george-color-hero-950); /* Reserved do not use */
  --color-surface-pop: var(--themes-st-george-color-pop-500); /* Replaces current style: Pop. Use sparingly, embellishment only. */
  --color-surface-pop-faint: var(--themes-st-george-color-pop-950); /* Use sparingly, in accordance with the brand guidelines. For embellishment only. */
  --color-surface-holler: var(--themes-st-george-color-holler-400); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-holler-faint: var(--themes-st-george-color-holler-950); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-success: var(--themes-st-george-color-success-400); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-success-faint: var(--themes-st-george-color-success-900); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-info: var(--themes-st-george-color-info-400); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-info-faint: var(--themes-st-george-color-info-900); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-warning: var(--themes-st-george-color-warning-400); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-warning-faint: var(--themes-st-george-color-warning-900); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-danger: var(--themes-st-george-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-danger-faint: var(--themes-st-george-color-danger-900); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-system-error: var(--themes-st-george-color-system-950); /* Reserved. Must only be used for the System alert component. */
  --color-surface-system-error-dark: var(--themes-st-george-color-system-500); /* Reserved. Must only be used for the System messaging component. */
  --color-surface-mono: var(--themes-st-george-color-mono-black); /* Mono is either White or Black */
  --color-surface-reversed: var(--themes-st-george-color-mono-white); /* Reserved is always white. */
  --color-text-body: var(--themes-st-george-color-text-body-dm); /* Replaces current style: Text */
  --color-text-heading: var(--themes-st-george-color-text-heading-dm); /* Replaces current style: Heading */
  --color-text-muted: var(--themes-st-george-color-muted-400); /* Replaces current style: Muted */
  --color-text-primary: var(--themes-st-george-color-primary-300); /* Replaces current style: Primary */
  --color-text-hero: var(--themes-st-george-color-text-hero-dm); /* Replaces current style: Hero. Note: This is not the same as text-heading as it behaves differently in other brands. */
  --color-text-holler: var(--themes-st-george-color-holler-300); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-text-link: var(--themes-st-george-color-primary-300); /* Replaces current style: Link */
  --color-text-success: var(--themes-st-george-color-success-300); /* Reserved. Must only be used for the Success alert component. */
  --color-text-info: var(--themes-st-george-color-info-300); /* Reserved. Must only be used for the Info alert component. */
  --color-text-warning: var(--themes-st-george-color-warning-300); /* Reserved. Must only be used for the Warning alert component. */
  --color-text-danger: var(--themes-st-george-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-text-system-error: var(--themes-st-george-color-system-500); /* Reserved. Must only be used for the System alert component. */
  --color-text-mono: var(--themes-st-george-color-mono-black); /* Mono text is either White or Black */
  --color-text-reversed: var(--themes-st-george-color-mono-white); /* Reversed text is always white */
  --color-border-muted: var(--themes-st-george-color-muted-500); /* Reserved. Do not use */
  --color-border-muted-strong: var(--themes-st-george-color-muted-500); /* Replaces current style: Border Dark */
  --color-border-muted-mild: var(--themes-st-george-color-muted-700); /* Reserved. Do not use */
  --color-border-muted-soft: var(--themes-st-george-color-muted-800); /* Replaces current style: Muted */
  --color-border-hero: var(--themes-st-george-color-hero-300); /* Replaces current style: Hero */
  --color-border-primary: var(--themes-st-george-color-primary-400); /* Replaces current style: Primary */
  --color-border-pop: var(--themes-st-george-color-pop-800); /* Replaces current style: Pop. Embellishment only, use sparingly and in accordance with the brand guidelines. */
  --color-border-holler: var(--themes-st-george-color-holler-400); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-border-success: var(--themes-st-george-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-border-success-mild: var(--themes-st-george-color-success-700); /* Reserved. Must only be used for the Success alert component. */
  --color-border-info: var(--themes-st-george-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-border-info-mild: var(--themes-st-george-color-info-700); /* Reserved. Must only be used for the Info alert component. */
  --color-border-warning: var(--themes-st-george-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-warning-mild: var(--themes-st-george-color-warning-700); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-danger: var(--themes-st-george-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-danger-mild: var(--themes-st-george-color-danger-700); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-mono: var(--themes-st-george-color-mono-black); /* Mono border is either White or Black */
  --color-border-focus: var(--themes-st-george-color-holler-400); /* Reserved. Only for use with focus state keyboard navigation. */
  --color-data-a-solid: var(--themes-st-george-color-primary-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-tint: var(--themes-st-george-color-primary-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-opacity: var(--themes-st-george-color-primary-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-solid: var(--themes-st-george-color-hero-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-tint: var(--themes-st-george-color-hero-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-opacity: var(--themes-st-george-color-hero-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-solid: var(--themes-st-george-color-pop-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-tint: var(--themes-st-george-color-pop-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-opacity: var(--themes-st-george-color-pop-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-solid: var(--themes-st-george-color-holler-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-tint: var(--themes-st-george-color-holler-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-opacity: var(--themes-st-george-color-holler-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-solid: var(--themes-st-george-color-sing-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-tint: var(--themes-st-george-color-sing-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-opacity: var(--themes-st-george-color-sing-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-solid: var(--themes-st-george-color-dance-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-tint: var(--themes-st-george-color-dance-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-opacity: var(--themes-st-george-color-dance-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-surface-pictogram-base: var(--themes-st-george-color-surface-pictogram-base-dm); /* Reserved. Only for use on Pictograms. */
  --color-surface-pictogram-accent: var(--themes-st-george-color-surface-pictogram-accent-dm); /* Reserved. Only for use on Pictograms. */
  --color-surface-hover-primary: var(--themes-st-george-color-primary-200); /* This token is for hover states. */
  --color-surface-active-primary: var(--themes-st-george-color-primary-100);
  --color-surface-hover-hero: var(--themes-st-george-color-hero-200); /* This token is for hover states. */
  --color-surface-active-hero: var(--themes-st-george-color-hero-100); /* This token is for hover states. */
  --color-surface-hover-primary-faint: var(--themes-st-george-color-primary-900); /* This token is for hover states. */
  --color-surface-active-primary-faint: var(--themes-st-george-color-primary-800); /* This token is for hover states. */
  --color-surface-hover-hero-faint: var(--themes-st-george-color-hero-800);
  --color-surface-active-hero-faint: var(--themes-st-george-color-hero-400);
  --color-surface-hover-muted-pale: var(--themes-st-george-color-muted-800); /* This token is for hover states. */
  --color-surface-active-muted-pale: var(--themes-st-george-color-muted-600); /* This token is for hover states. */
  --color-surface-hover-mono: var(--themes-st-george-color-mono-black); /* This token is for hover states. */
  --color-surface-active-mono: var(--themes-st-george-color-muted-800); /* This token is for hover states. */
  --border-rounded-none: var(--themes-st-george-border-radius-none);
  --border-rounded-sm: var(--themes-st-george-border-radius-sm);
  --border-rounded-md: var(--themes-st-george-border-radius-md);
  --border-rounded-lg: var(--themes-st-george-border-radius-lg);
  --border-rounded-xl: var(--themes-st-george-border-radius-xl);
  --border-rounded-2xl: var(--themes-st-george-border-radius-2xl);
  --border-rounded-3xl: var(--themes-st-george-border-radius-3xl);
  --border-rounded-4xl: var(--themes-st-george-border-radius-4xl);
  --border-rounded-5xl: var(--themes-st-george-border-radius-5xl);
  --border-rounded-full: var(--themes-st-george-border-radius-full);
}

