@import 'tailwindcss';
@import '@westpac/style-config/tailwind';
@import '@westpac/style-config/themes/wbc.css';
@import '@westpac/style-config/themes/stg.css';
@import '@westpac/style-config/themes/bom.css';
@import '@westpac/style-config/themes/bsa.css';
@import '../src/css/global.css';

@layer base {
  body {
    @apply typography-body-11;
  }
}
