@theme inline static {
  /* Make the breakpoints into css variable */
  --breakpoint-xsl: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1584px;

  --spacing: 0.375rem;

  --leading-tight: 1.2;
  --leading-normal: 1.5;
  /* See https://stackoverflow.com/questions/19982651/why-does-bootstrap-set-the-line-height-property-to-1-428571429 for below line height reasoning */
  --leading-loose: 1.428571429;

  --container-xs: 35.35rem;
  --container-xsl: 47.25rem;
  --container-sm: 60.75rem;
  --container-md: 72.75rem;
  --container-lg: 97.5rem;

  /* TO DO: Are these even used? */
  --animate-skeleton: waveLines 2s infinite ease-out;
  --animate-fade-in: fadeIn 0.2s ease;
  --animate-fade-in-down: fadeInDown 0.4s ease;
  --animate-fade-in-up: fadeInUp 0.4s ease;
  --animate-slide-up: slideUp 0.4s ease;
  --animate-max-height-in: maxHeightIn 0.4s ease;

  @keyframes waveLines {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-10vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes maxHeightIn {
    0% {
      maxheight: 0;
    }
  }
}

@layer base {
  :root,
  :host {
    color: var(--text-body);
  }
}
