:root, :host {
  --primitives-color-green-50: #f2f9f2;
  --primitives-color-green-100: #d9ecd9;
  --primitives-color-green-200: #99cc99;
  --primitives-color-green-300: #47a447;
  --primitives-color-green-400: #249224;
  --primitives-color-green-500: #008000;
  --primitives-color-green-600: #006d00;
  --primitives-color-green-700: #005a00;
  --primitives-color-green-800: #004600;
  --primitives-color-green-900: #003300;
  --primitives-color-green-950: #002000;
  --primitives-color-blue-50: #f2f8fc;
  --primitives-color-blue-100: #d9eaf6;
  --primitives-color-blue-200: #99c7e7;
  --primitives-color-blue-300: #459ad4;
  --primitives-color-blue-400: #2487cc;
  --primitives-color-blue-500: #0074c4;
  --primitives-color-blue-600: #0063a7;
  --primitives-color-blue-700: #005189;
  --primitives-color-blue-800: #00406c;
  --primitives-color-blue-900: #002e4e;
  --primitives-color-blue-950: #001d31;
  --primitives-color-orange-50: #fcf5f2;
  --primitives-color-orange-100: #f3d8cc;
  --primitives-color-orange-200: #e8b199;
  --primitives-color-orange-300: #d7784f;
  --primitives-color-orange-400: #ce5826;
  --primitives-color-orange-500: #c53b00;
  --primitives-color-orange-600: #a73200;
  --primitives-color-orange-700: #8a2900;
  --primitives-color-orange-800: #6c2000;
  --primitives-color-orange-900: #4f1800;
  --primitives-color-orange-950: #310f00;
  --primitives-color-red-50: #fcf2f2;
  --primitives-color-red-100: #f9e6e6;
  --primitives-color-red-200: #eaa6a6;
  --primitives-color-red-300: #db6363;
  --primitives-color-red-400: #d03333;
  --primitives-color-red-500: #c40000;
  --primitives-color-red-600: #a70000;
  --primitives-color-red-700: #890000;
  --primitives-color-red-800: #6c0000;
  --primitives-color-red-900: #4e0000;
  --primitives-color-red-950: #310000;
  --primitives-color-yellow-50: #fffff2;
  --primitives-color-yellow-100: #ffffe6;
  --primitives-color-yellow-200: #ffffbf;
  --primitives-color-yellow-300: #ffff80;
  --primitives-color-yellow-400: #ffff40;
  --primitives-color-yellow-500: #ffff00;
  --primitives-color-yellow-600: #d9d900;
  --primitives-color-yellow-700: #b3b300;
  --primitives-color-yellow-800: #8c8c00;
  --primitives-color-yellow-900: #666600;
  --primitives-color-yellow-950: #404000;
  --primitives-color-bom-grey-50: #fbfbfd;
  --primitives-color-bom-grey-100: #f7f7f7;
  --primitives-color-bom-grey-200: #dedee1;
  --primitives-color-bom-grey-300: #b6b6bc;
  --primitives-color-bom-grey-400: #8e8d98;
  --primitives-color-bom-grey-500: #706f7c;
  --primitives-color-bom-grey-600: #5b5b6a;
  --primitives-color-bom-grey-700: #464651;
  --primitives-color-bom-grey-800: #323238;
  --primitives-color-bom-grey-900: #1c1c1f;
  --primitives-color-bom-grey-950: #161619;
  --primitives-color-bom-orange-50: #fff4f3;
  --primitives-color-bom-orange-100: #ffcbc7;
  --primitives-color-bom-orange-200: #ff7c6a;
  --primitives-color-bom-orange-300: #f24300;
  --primitives-color-bom-orange-400: #e43f00;
  --primitives-color-bom-orange-500: #d13900;
  --primitives-color-bom-orange-600: #b02f00;
  --primitives-color-bom-orange-700: #8f2400;
  --primitives-color-bom-orange-800: #6f1a00;
  --primitives-color-bom-orange-900: #501000;
  --primitives-color-bom-orange-950: #380900;
  --primitives-color-bom-orange-opacity: rgba(209, 57, 0, 0.5);
  --primitives-color-bom-melbourne-purple-50: #f6f5ff;
  --primitives-color-bom-melbourne-purple-100: #dad6fe;
  --primitives-color-bom-melbourne-purple-200: #c6c0fd;
  --primitives-color-bom-melbourne-purple-300: #a094fc;
  --primitives-color-bom-melbourne-purple-400: #685ac0;
  --primitives-color-bom-melbourne-purple-500: #534891;
  --primitives-color-bom-melbourne-purple-600: #433781;
  --primitives-color-bom-melbourne-purple-700: #33286a;
  --primitives-color-bom-melbourne-purple-800: #261b58;
  --primitives-color-bom-melbourne-purple-900: #20024e;
  --primitives-color-bom-melbourne-purple-950: #1b0045;
  --primitives-color-bom-melbourne-purple-opacity: rgba(83, 72, 145, 0.5);
  --primitives-color-bom-dark-purple-50: #f6f6fa;
  --primitives-color-bom-dark-purple-100: #dad8eb;
  --primitives-color-bom-dark-purple-200: #a6a1ce;
  --primitives-color-bom-dark-purple-300: #877eb9;
  --primitives-color-bom-dark-purple-400: #433781;
  --primitives-color-bom-dark-purple-500: #20024e;
  --primitives-color-bom-dark-purple-600: #1b0045;
  --primitives-color-bom-dark-purple-700: #180040;
  --primitives-color-bom-dark-purple-800: #16003b;
  --primitives-color-bom-dark-purple-900: #130036;
  --primitives-color-bom-dark-purple-950: #110031;
  --primitives-color-bom-dark-purple-opacity: rgba(32, 2, 78, 0.25);
  --primitives-color-bom-mid-purple-50: #eeedf8;
  --primitives-color-bom-mid-purple-100: #dfddf3;
  --primitives-color-bom-mid-purple-200: #c1bce8;
  --primitives-color-bom-mid-purple-300: #a39cdc;
  --primitives-color-bom-mid-purple-400: #8379cf;
  --primitives-color-bom-mid-purple-500: #685ac0;
  --primitives-color-bom-mid-purple-600: #5141ac;
  --primitives-color-bom-mid-purple-700: #3f3288;
  --primitives-color-bom-mid-purple-800: #2b2162;
  --primitives-color-bom-mid-purple-900: #19123e;
  --primitives-color-bom-mid-purple-950: #0e0928;
  --primitives-color-bom-mid-purple-opacity: rgba(104, 90, 192, 0.5);
  --primitives-color-bom-light-purple-50: #f6f5ff;
  --primitives-color-bom-light-purple-100: #ebe9fe;
  --primitives-color-bom-light-purple-200: #dad6fe;
  --primitives-color-bom-light-purple-300: #c6c0fd;
  --primitives-color-bom-light-purple-400: #b2aafd;
  --primitives-color-bom-light-purple-500: #a094fc;
  --primitives-color-bom-light-purple-600: #7d67fa;
  --primitives-color-bom-light-purple-700: #5b31f8;
  --primitives-color-bom-light-purple-800: #3d0dc0;
  --primitives-color-bom-light-purple-900: #200470;
  --primitives-color-bom-light-purple-950: #140250;
  --primitives-color-bom-light-purple-opacity: rgba(160, 148, 252, 0.5);
  --primitives-color-bom-ochre-50: #fff1ea;
  --primitives-color-bom-ochre-100: #fee3d4;
  --primitives-color-bom-ochre-200: #fec6a3;
  --primitives-color-bom-ochre-300: #fda85f;
  --primitives-color-bom-ochre-400: #ed9019;
  --primitives-color-bom-ochre-500: #d17e15;
  --primitives-color-bom-ochre-600: #a5620e;
  --primitives-color-bom-ochre-700: #7c4908;
  --primitives-color-bom-ochre-800: #553004;
  --primitives-color-bom-ochre-900: #321a01;
  --primitives-color-bom-ochre-950: #210f01;
  --primitives-color-bom-ochre-opacity: rgba(209, 126, 21, 0.5);
  --primitives-color-bom-terracotta-50: #ffe9e7;
  --primitives-color-bom-terracotta-100: #ffcfcb;
  --primitives-color-bom-terracotta-200: #ff9b90;
  --primitives-color-bom-terracotta-300: #ff6244;
  --primitives-color-bom-terracotta-400: #d63c00;
  --primitives-color-bom-terracotta-500: #9e2a00;
  --primitives-color-bom-terracotta-600: #822100;
  --primitives-color-bom-terracotta-700: #671800;
  --primitives-color-bom-terracotta-800: #490e00;
  --primitives-color-bom-terracotta-900: #300700;
  --primitives-color-bom-terracotta-950: #230400;
  --primitives-color-bom-terracotta-opacity: rgba(158, 42, 0, 0.5);
  --primitives-border-radius-none: 0;
  --primitives-border-radius-3px: 3;
  --primitives-border-radius-4px: 4;
  --primitives-border-radius-5px: 5;
  --primitives-border-radius-6px: 6;
  --primitives-border-radius-8px: 8;
  --primitives-border-radius-12px: 12;
  --primitives-border-radius-16px: 16;
  --primitives-border-radius-24px: 24;
  --primitives-border-radius-full: 999;
  --themes-bank-of-melbourne-color-text-body-lm: #20024e;
  --themes-bank-of-melbourne-color-text-body-dm: #dedee1;
  --themes-bank-of-melbourne-color-text-heading-lm: #534891;
  --themes-bank-of-melbourne-color-text-heading-dm: #a094fc;
  --themes-bank-of-melbourne-color-text-hero-lm: #534891;
  --themes-bank-of-melbourne-color-text-hero-dm: #a094fc;
  --themes-bank-of-melbourne-color-surface-pictogram-base-lm: #534891;
  --themes-bank-of-melbourne-color-surface-pictogram-base-dm: #685ac0;
  --themes-bank-of-melbourne-color-surface-pictogram-accent-lm: #a094fc;
  --themes-bank-of-melbourne-color-surface-pictogram-accent-dm: #b2aafd;
  --themes-bank-of-melbourne-color-surface-muted-vivid-lm: #20024e;
  --themes-bank-of-melbourne-color-surface-muted-vivid-dm: #fbfbfd;
  --themes-bank-of-melbourne-color-muted-50: #fbfbfd;
  --themes-bank-of-melbourne-color-muted-100: #f7f7f7;
  --themes-bank-of-melbourne-color-muted-200: #dedee1;
  --themes-bank-of-melbourne-color-muted-300: #b6b6bc;
  --themes-bank-of-melbourne-color-muted-400: #8e8d98;
  --themes-bank-of-melbourne-color-muted-500: #706f7c;
  --themes-bank-of-melbourne-color-muted-600: #5b5b6a;
  --themes-bank-of-melbourne-color-muted-700: #464651;
  --themes-bank-of-melbourne-color-muted-800: #323238;
  --themes-bank-of-melbourne-color-muted-900: #1c1c1f;
  --themes-bank-of-melbourne-color-muted-950: #161619;
  --themes-bank-of-melbourne-color-primary-50: #fff4f3;
  --themes-bank-of-melbourne-color-primary-100: #ffcbc7;
  --themes-bank-of-melbourne-color-primary-200: #ff7c6a;
  --themes-bank-of-melbourne-color-primary-300: #f24300;
  --themes-bank-of-melbourne-color-primary-400: #e43f00;
  --themes-bank-of-melbourne-color-primary-500: #d13900;
  --themes-bank-of-melbourne-color-primary-600: #b02f00;
  --themes-bank-of-melbourne-color-primary-700: #8f2400;
  --themes-bank-of-melbourne-color-primary-800: #6f1a00;
  --themes-bank-of-melbourne-color-primary-900: #501000;
  --themes-bank-of-melbourne-color-primary-950: #380900;
  --themes-bank-of-melbourne-color-primary-opacity: rgba(209, 57, 0, 0.5);
  --themes-bank-of-melbourne-color-hero-50: #f6f5ff;
  --themes-bank-of-melbourne-color-hero-100: #dad6fe;
  --themes-bank-of-melbourne-color-hero-200: #c6c0fd;
  --themes-bank-of-melbourne-color-hero-300: #a094fc;
  --themes-bank-of-melbourne-color-hero-400: #685ac0;
  --themes-bank-of-melbourne-color-hero-500: #534891;
  --themes-bank-of-melbourne-color-hero-600: #433781;
  --themes-bank-of-melbourne-color-hero-700: #33286a;
  --themes-bank-of-melbourne-color-hero-800: #261b58;
  --themes-bank-of-melbourne-color-hero-900: #20024e;
  --themes-bank-of-melbourne-color-hero-950: #1b0045;
  --themes-bank-of-melbourne-color-hero-opacity: rgba(83, 72, 145, 0.5);
  --themes-bank-of-melbourne-color-pop-50: #f6f5ff;
  --themes-bank-of-melbourne-color-pop-100: #ebe9fe;
  --themes-bank-of-melbourne-color-pop-200: #dad6fe;
  --themes-bank-of-melbourne-color-pop-300: #c6c0fd;
  --themes-bank-of-melbourne-color-pop-400: #b2aafd;
  --themes-bank-of-melbourne-color-pop-500: #a094fc;
  --themes-bank-of-melbourne-color-pop-600: #7d67fa;
  --themes-bank-of-melbourne-color-pop-700: #5b31f8;
  --themes-bank-of-melbourne-color-pop-800: #3d0dc0;
  --themes-bank-of-melbourne-color-pop-900: #200470;
  --themes-bank-of-melbourne-color-pop-950: #140250;
  --themes-bank-of-melbourne-color-pop-opacity: rgba(160, 148, 252, 0.5);
  --themes-bank-of-melbourne-color-holler-50: #eeedf8;
  --themes-bank-of-melbourne-color-holler-100: #dfddf3;
  --themes-bank-of-melbourne-color-holler-200: #c1bce8;
  --themes-bank-of-melbourne-color-holler-300: #a39cdc;
  --themes-bank-of-melbourne-color-holler-400: #8379cf;
  --themes-bank-of-melbourne-color-holler-500: #685ac0;
  --themes-bank-of-melbourne-color-holler-600: #5141ac;
  --themes-bank-of-melbourne-color-holler-700: #3f3288;
  --themes-bank-of-melbourne-color-holler-800: #2b2162;
  --themes-bank-of-melbourne-color-holler-900: #19123e;
  --themes-bank-of-melbourne-color-holler-950: #0e0928;
  --themes-bank-of-melbourne-color-holler-opacity: rgba(104, 90, 192, 0.5);
  --themes-bank-of-melbourne-color-sing-50: #fff1ea;
  --themes-bank-of-melbourne-color-sing-100: #fee3d4;
  --themes-bank-of-melbourne-color-sing-200: #fec6a3;
  --themes-bank-of-melbourne-color-sing-300: #fda85f;
  --themes-bank-of-melbourne-color-sing-400: #ed9019;
  --themes-bank-of-melbourne-color-sing-500: #d17e15;
  --themes-bank-of-melbourne-color-sing-600: #a5620e;
  --themes-bank-of-melbourne-color-sing-700: #7c4908;
  --themes-bank-of-melbourne-color-sing-800: #553004;
  --themes-bank-of-melbourne-color-sing-900: #321a01;
  --themes-bank-of-melbourne-color-sing-950: #210f01;
  --themes-bank-of-melbourne-color-sing-opacity: rgba(209, 126, 21, 0.5);
  --themes-bank-of-melbourne-color-dance-50: #ffe9e7;
  --themes-bank-of-melbourne-color-dance-100: #ffcfcb;
  --themes-bank-of-melbourne-color-dance-200: #ff9b90;
  --themes-bank-of-melbourne-color-dance-300: #ff6244;
  --themes-bank-of-melbourne-color-dance-400: #d63c00;
  --themes-bank-of-melbourne-color-dance-500: #9e2a00;
  --themes-bank-of-melbourne-color-dance-600: #822100;
  --themes-bank-of-melbourne-color-dance-700: #671800;
  --themes-bank-of-melbourne-color-dance-800: #490e00;
  --themes-bank-of-melbourne-color-dance-900: #300700;
  --themes-bank-of-melbourne-color-dance-950: #230400;
  --themes-bank-of-melbourne-color-dance-opacity: rgba(158, 42, 0, 0.5);
  --themes-bank-of-melbourne-color-mono-white: #ffffff;
  --themes-bank-of-melbourne-color-mono-black: #000000;
  --themes-bank-of-melbourne-color-success-50: #f2f9f2;
  --themes-bank-of-melbourne-color-success-100: #d9ecd9;
  --themes-bank-of-melbourne-color-success-200: #99cc99;
  --themes-bank-of-melbourne-color-success-300: #47a447;
  --themes-bank-of-melbourne-color-success-400: #249224;
  --themes-bank-of-melbourne-color-success-500: #008000;
  --themes-bank-of-melbourne-color-success-600: #006d00;
  --themes-bank-of-melbourne-color-success-700: #005a00;
  --themes-bank-of-melbourne-color-success-800: #004600;
  --themes-bank-of-melbourne-color-success-900: #003300;
  --themes-bank-of-melbourne-color-success-950: #002000;
  --themes-bank-of-melbourne-color-info-50: #f2f8fc;
  --themes-bank-of-melbourne-color-info-100: #d9eaf6;
  --themes-bank-of-melbourne-color-info-200: #99c7e7;
  --themes-bank-of-melbourne-color-info-300: #459ad4;
  --themes-bank-of-melbourne-color-info-400: #2487cc;
  --themes-bank-of-melbourne-color-info-500: #0074c4;
  --themes-bank-of-melbourne-color-info-600: #0063a7;
  --themes-bank-of-melbourne-color-info-700: #005189;
  --themes-bank-of-melbourne-color-info-800: #00406c;
  --themes-bank-of-melbourne-color-info-900: #002e4e;
  --themes-bank-of-melbourne-color-info-950: #001d31;
  --themes-bank-of-melbourne-color-warning-50: #fcf5f2;
  --themes-bank-of-melbourne-color-warning-100: #f3d8cc;
  --themes-bank-of-melbourne-color-warning-200: #e8b199;
  --themes-bank-of-melbourne-color-warning-300: #d7784f;
  --themes-bank-of-melbourne-color-warning-400: #ce5826;
  --themes-bank-of-melbourne-color-warning-500: #c53b00;
  --themes-bank-of-melbourne-color-warning-600: #a73200;
  --themes-bank-of-melbourne-color-warning-700: #8a2900;
  --themes-bank-of-melbourne-color-warning-800: #6c2000;
  --themes-bank-of-melbourne-color-warning-900: #4f1800;
  --themes-bank-of-melbourne-color-warning-950: #310f00;
  --themes-bank-of-melbourne-color-danger-50: #fcf2f2;
  --themes-bank-of-melbourne-color-danger-100: #f9e6e6;
  --themes-bank-of-melbourne-color-danger-200: #eaa6a6;
  --themes-bank-of-melbourne-color-danger-300: #db6363;
  --themes-bank-of-melbourne-color-danger-400: #d03333;
  --themes-bank-of-melbourne-color-danger-500: #c40000;
  --themes-bank-of-melbourne-color-danger-600: #a70000;
  --themes-bank-of-melbourne-color-danger-700: #890000;
  --themes-bank-of-melbourne-color-danger-800: #6c0000;
  --themes-bank-of-melbourne-color-danger-900: #4e0000;
  --themes-bank-of-melbourne-color-danger-950: #310000;
  --themes-bank-of-melbourne-color-system-50: #fffff2;
  --themes-bank-of-melbourne-color-system-100: #ffffe6;
  --themes-bank-of-melbourne-color-system-200: #ffffbf;
  --themes-bank-of-melbourne-color-system-300: #ffff80;
  --themes-bank-of-melbourne-color-system-400: #ffff40;
  --themes-bank-of-melbourne-color-system-500: #ffff00;
  --themes-bank-of-melbourne-color-system-600: #d9d900;
  --themes-bank-of-melbourne-color-system-700: #b3b300;
  --themes-bank-of-melbourne-color-system-800: #8c8c00;
  --themes-bank-of-melbourne-color-system-900: #666600;
  --themes-bank-of-melbourne-color-system-950: #404000;
  --themes-bank-of-melbourne-border-radius-none: 0;
  --themes-bank-of-melbourne-border-radius-sm: 3;
  --themes-bank-of-melbourne-border-radius-md: 4;
  --themes-bank-of-melbourne-border-radius-lg: 5;
  --themes-bank-of-melbourne-border-radius-xl: 6;
  --themes-bank-of-melbourne-border-radius-2xl: 8;
  --themes-bank-of-melbourne-border-radius-3xl: 12;
  --themes-bank-of-melbourne-border-radius-4xl: 16;
  --themes-bank-of-melbourne-border-radius-5xl: 24;
  --themes-bank-of-melbourne-border-radius-full: 999;
}

[data-brand="bom"] {
  --color-background-white-pale: var(--themes-bank-of-melbourne-color-mono-white); /* Use for screen and container background fills. If your screen background is white use this token. */
  --color-background-pale-faint: var(--themes-bank-of-melbourne-color-muted-100); /* Use for screen and container background fills. Replaces current style: Background */
  --color-background-faint-pale: var(--themes-bank-of-melbourne-color-muted-50); /* Use for screen and container background fills. Replaces current style: Light */
  --color-background-white-faint: var(--themes-bank-of-melbourne-color-mono-white); /* Use for screen backgrounds to establish correct emphasis. */
  --color-background-white-black: var(--themes-bank-of-melbourne-color-mono-white); /* This token is reserved. Do not use. */
  --color-background-pale-black: var(--themes-bank-of-melbourne-color-muted-100); /* This token is reserved. Do not use. */
  --color-background-primary: var(--themes-bank-of-melbourne-color-primary-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-background-hero: var(--themes-bank-of-melbourne-color-hero-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-surface-muted-vivid: var(--themes-bank-of-melbourne-color-surface-muted-vivid-lm); /* Use for fills that need to be text colour. */
  --color-surface-muted: var(--themes-bank-of-melbourne-color-muted-500); /* Replaces current style: Muted */
  --color-surface-muted-strong: var(--themes-bank-of-melbourne-color-muted-400); /* Reserved. Do not use */
  --color-surface-muted-mild: var(--themes-bank-of-melbourne-color-muted-300); /* Reserved. Do not use */
  --color-surface-muted-soft: var(--themes-bank-of-melbourne-color-muted-200); /* Reserved. Do not use */
  --color-surface-muted-pale: var(--themes-bank-of-melbourne-color-muted-100); /* Replaces current style: Background */
  --color-surface-muted-faint: var(--themes-bank-of-melbourne-color-muted-50); /* Replaces current style: Light */
  --color-surface-primary: var(--themes-bank-of-melbourne-color-primary-500); /* Replaces current style: Primary */
  --color-surface-primary-faint: var(--themes-bank-of-melbourne-color-primary-50); /* Reserved do not use */
  --color-surface-hero: var(--themes-bank-of-melbourne-color-hero-500); /* Replaces current style: Hero */
  --color-surface-hero-faint: var(--themes-bank-of-melbourne-color-hero-50); /* Reserved do not use */
  --color-surface-pop: var(--themes-bank-of-melbourne-color-pop-500); /* Replaces current style: Pop. Use sparingly, embellishment only. */
  --color-surface-pop-faint: var(--themes-bank-of-melbourne-color-pop-50); /* Use sparingly, in accordance with the brand guidelines. For embellishment only. */
  --color-surface-holler: var(--themes-bank-of-melbourne-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-holler-faint: var(--themes-bank-of-melbourne-color-holler-50); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-sing: var(--themes-bank-of-melbourne-color-sing-500); /* Reserved. Do not use */
  --color-surface-sing-faint: var(--themes-bank-of-melbourne-color-sing-50); /* Reserved. Do not use */
  --color-surface-dance: var(--themes-bank-of-melbourne-color-dance-500); /* Reserved. Do not use */
  --color-surface-dance-faint: var(--themes-bank-of-melbourne-color-dance-50); /* Reserved. Do not use */
  --color-surface-success: var(--themes-bank-of-melbourne-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-success-faint: var(--themes-bank-of-melbourne-color-success-50); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-info: var(--themes-bank-of-melbourne-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-info-faint: var(--themes-bank-of-melbourne-color-info-50); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-warning: var(--themes-bank-of-melbourne-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-warning-faint: var(--themes-bank-of-melbourne-color-warning-50); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-danger: var(--themes-bank-of-melbourne-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-danger-faint: var(--themes-bank-of-melbourne-color-danger-50); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-system-error: var(--themes-bank-of-melbourne-color-system-500); /* Reserved. Must only be used for the System alert component. */
  --color-surface-system-error-dark: var(--themes-bank-of-melbourne-color-system-950); /* Reserved. Must only be used for the System messaging component. */
  --color-surface-mono: var(--themes-bank-of-melbourne-color-mono-white); /* Mono is either White or Black */
  --color-surface-reversed: var(--themes-bank-of-melbourne-color-mono-white); /* Reserved is always white. */
  --color-text-body: var(--themes-bank-of-melbourne-color-text-body-lm); /* Replaces current style: Text */
  --color-text-heading: var(--themes-bank-of-melbourne-color-text-heading-lm); /* Replaces current style: Heading */
  --color-text-muted: var(--themes-bank-of-melbourne-color-muted-500); /* Replaces current style: Muted */
  --color-text-primary: var(--themes-bank-of-melbourne-color-primary-500); /* Replaces current style: Primary */
  --color-text-hero: var(--themes-bank-of-melbourne-color-text-hero-lm); /* Replaces current style: Hero. Note: This is not the same as text-heading as it behaves differently in other brands. */
  --color-text-holler: var(--themes-bank-of-melbourne-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-text-link: var(--themes-bank-of-melbourne-color-primary-500); /* Replaces current style: Link */
  --color-text-success: var(--themes-bank-of-melbourne-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-text-info: var(--themes-bank-of-melbourne-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-text-warning: var(--themes-bank-of-melbourne-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-text-danger: var(--themes-bank-of-melbourne-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-text-system-error: var(--themes-bank-of-melbourne-color-system-950); /* Reserved. Must only be used for the System alert component. */
  --color-text-mono: var(--themes-bank-of-melbourne-color-mono-white); /* Mono text is either White or Black */
  --color-text-reversed: var(--themes-bank-of-melbourne-color-mono-white); /* Reversed text is always white */
  --color-border-muted: var(--themes-bank-of-melbourne-color-muted-500); /* Reserved. Do not use */
  --color-border-muted-strong: var(--themes-bank-of-melbourne-color-muted-400); /* Replaces current style: Border Dark */
  --color-border-muted-mild: var(--themes-bank-of-melbourne-color-muted-300); /* Reserved. Do not use */
  --color-border-muted-soft: var(--themes-bank-of-melbourne-color-muted-200); /* Replaces current style: Muted */
  --color-border-hero: var(--themes-bank-of-melbourne-color-hero-500); /* Replaces current style: Hero */
  --color-border-primary: var(--themes-bank-of-melbourne-color-primary-500); /* Replaces current style: Primary */
  --color-border-pop: var(--themes-bank-of-melbourne-color-pop-500); /* Replaces current style: Pop. Embellishment only, use sparingly and in accordance with the brand guidelines. */
  --color-border-holler: var(--themes-bank-of-melbourne-color-holler-500); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-border-sing: var(--themes-bank-of-melbourne-color-sing-500); /* Reserved. Do not use */
  --color-border-dance: var(--themes-bank-of-melbourne-color-dance-500); /* Reserved. Do not use */
  --color-border-success: var(--themes-bank-of-melbourne-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-border-success-mild: var(--themes-bank-of-melbourne-color-success-300); /* Reserved. Must only be used for the Success alert component. */
  --color-border-info: var(--themes-bank-of-melbourne-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-border-info-mild: var(--themes-bank-of-melbourne-color-info-300); /* Reserved. Must only be used for the Info alert component. */
  --color-border-warning: var(--themes-bank-of-melbourne-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-warning-mild: var(--themes-bank-of-melbourne-color-warning-300); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-danger: var(--themes-bank-of-melbourne-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-danger-mild: var(--themes-bank-of-melbourne-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-mono: var(--themes-bank-of-melbourne-color-mono-white); /* Mono border is either White or Black */
  --color-border-focus: var(--themes-bank-of-melbourne-color-holler-300); /* Reserved. Only for use with focus state keyboard navigation. */
  --color-data-a-solid: var(--themes-bank-of-melbourne-color-primary-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-tint: var(--themes-bank-of-melbourne-color-primary-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-opacity: var(--themes-bank-of-melbourne-color-primary-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-solid: var(--themes-bank-of-melbourne-color-hero-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-tint: var(--themes-bank-of-melbourne-color-hero-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-opacity: var(--themes-bank-of-melbourne-color-hero-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-solid: var(--themes-bank-of-melbourne-color-pop-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-tint: var(--themes-bank-of-melbourne-color-pop-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-opacity: var(--themes-bank-of-melbourne-color-pop-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-solid: var(--themes-bank-of-melbourne-color-holler-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-tint: var(--themes-bank-of-melbourne-color-holler-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-opacity: var(--themes-bank-of-melbourne-color-holler-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-solid: var(--themes-bank-of-melbourne-color-sing-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-tint: var(--themes-bank-of-melbourne-color-sing-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-opacity: var(--themes-bank-of-melbourne-color-sing-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-solid: var(--themes-bank-of-melbourne-color-dance-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-tint: var(--themes-bank-of-melbourne-color-dance-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-opacity: var(--themes-bank-of-melbourne-color-dance-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-surface-pictogram-base: var(--themes-bank-of-melbourne-color-surface-pictogram-base-lm); /* Reserved. Only for use on Pictograms. */
  --color-surface-pictogram-accent: var(--themes-bank-of-melbourne-color-surface-pictogram-accent-lm); /* Reserved. Only for use on Pictograms. */
  --color-surface-hover-primary: var(--themes-bank-of-melbourne-color-primary-400); /* This token is for hover states. */
  --color-surface-active-primary: var(--themes-bank-of-melbourne-color-primary-200);
  --color-surface-hover-hero: var(--themes-bank-of-melbourne-color-hero-400); /* This token is for hover states. */
  --color-surface-active-hero: var(--themes-bank-of-melbourne-color-hero-300); /* This token is for hover states. */
  --color-surface-hover-primary-faint: var(--themes-bank-of-melbourne-color-primary-50); /* This token is for hover states. */
  --color-surface-active-primary-faint: var(--themes-bank-of-melbourne-color-primary-100); /* This token is for hover states. */
  --color-surface-hover-hero-faint: var(--themes-bank-of-melbourne-color-hero-50);
  --color-surface-active-hero-faint: var(--themes-bank-of-melbourne-color-hero-100);
  --color-surface-hover-muted-pale: var(--themes-bank-of-melbourne-color-muted-100); /* This token is for hover states. */
  --color-surface-active-muted-pale: var(--themes-bank-of-melbourne-color-muted-300); /* This token is for hover states. */
  --color-surface-hover-mono: var(--themes-bank-of-melbourne-color-mono-white); /* This token is for hover states. */
  --color-surface-active-mono: var(--themes-bank-of-melbourne-color-muted-200); /* This token is for hover states. */
  --border-rounded-none: var(--themes-bank-of-melbourne-border-radius-none);
  --border-rounded-sm: var(--themes-bank-of-melbourne-border-radius-sm);
  --border-rounded-md: var(--themes-bank-of-melbourne-border-radius-md);
  --border-rounded-lg: var(--themes-bank-of-melbourne-border-radius-lg);
  --border-rounded-xl: var(--themes-bank-of-melbourne-border-radius-xl);
  --border-rounded-2xl: var(--themes-bank-of-melbourne-border-radius-2xl);
  --border-rounded-3xl: var(--themes-bank-of-melbourne-border-radius-3xl);
  --border-rounded-4xl: var(--themes-bank-of-melbourne-border-radius-4xl);
  --border-rounded-5xl: var(--themes-bank-of-melbourne-border-radius-5xl);
  --border-rounded-full: var(--themes-bank-of-melbourne-border-radius-full);
}

[data-brand="bom"][data-theme="dark"] {
  --color-background-white-pale: var(--themes-bank-of-melbourne-color-muted-900); /* Use for screen and container background fills. If your screen background is white use this token. */
  --color-background-pale-faint: var(--themes-bank-of-melbourne-color-muted-950); /* Use for screen and container background fills. Replaces current style: Background */
  --color-background-faint-pale: var(--themes-bank-of-melbourne-color-muted-900); /* Use for screen and container background fills. Replaces current style: Light */
  --color-background-white-faint: var(--themes-bank-of-melbourne-color-muted-950); /* Use for screen backgrounds to establish correct emphasis. */
  --color-background-white-black: var(--themes-bank-of-melbourne-color-mono-black); /* This token is reserved. Do not use. */
  --color-background-pale-black: var(--themes-bank-of-melbourne-color-mono-black); /* This token is reserved. Do not use. */
  --color-background-primary: var(--themes-bank-of-melbourne-color-primary-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-background-hero: var(--themes-bank-of-melbourne-color-hero-500); /* Use for embellishment eg. hero banners etc. Warning. Accessibility is not guaranteed */
  --color-surface-muted-vivid: var(--themes-bank-of-melbourne-color-surface-muted-vivid-dm); /* Use for fills that need to be text colour. */
  --color-surface-muted: var(--themes-bank-of-melbourne-color-muted-400); /* Replaces current style: Muted */
  --color-surface-muted-strong: var(--themes-bank-of-melbourne-color-muted-600); /* Reserved. Do not use */
  --color-surface-muted-mild: var(--themes-bank-of-melbourne-color-muted-700); /* Reserved. Do not use */
  --color-surface-muted-soft: var(--themes-bank-of-melbourne-color-muted-800); /* Reserved. Do not use */
  --color-surface-muted-pale: var(--themes-bank-of-melbourne-color-muted-900); /* Replaces current style: Background */
  --color-surface-muted-faint: var(--themes-bank-of-melbourne-color-muted-950); /* Replaces current style: Light */
  --color-surface-primary: var(--themes-bank-of-melbourne-color-primary-400); /* Replaces current style: Primary */
  --color-surface-primary-faint: var(--themes-bank-of-melbourne-color-primary-950); /* Reserved do not use */
  --color-surface-hero: var(--themes-bank-of-melbourne-color-hero-300); /* Replaces current style: Hero */
  --color-surface-hero-faint: var(--themes-bank-of-melbourne-color-hero-950); /* Reserved do not use */
  --color-surface-pop: var(--themes-bank-of-melbourne-color-pop-500); /* Replaces current style: Pop. Use sparingly, embellishment only. */
  --color-surface-pop-faint: var(--themes-bank-of-melbourne-color-pop-950); /* Use sparingly, in accordance with the brand guidelines. For embellishment only. */
  --color-surface-holler: var(--themes-bank-of-melbourne-color-holler-400); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-holler-faint: var(--themes-bank-of-melbourne-color-holler-950); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-surface-sing: var(--themes-bank-of-melbourne-color-sing-900); /* Reserved. Do not use */
  --color-surface-sing-faint: var(--themes-bank-of-melbourne-color-sing-950); /* Reserved. Do not use */
  --color-surface-dance: var(--themes-bank-of-melbourne-color-dance-500); /* Reserved. Do not use */
  --color-surface-dance-faint: var(--themes-bank-of-melbourne-color-dance-900); /* Reserved. Do not use */
  --color-surface-success: var(--themes-bank-of-melbourne-color-success-400); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-success-faint: var(--themes-bank-of-melbourne-color-success-900); /* Reserved. Must only be used for the Success alert component. */
  --color-surface-info: var(--themes-bank-of-melbourne-color-info-400); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-info-faint: var(--themes-bank-of-melbourne-color-info-900); /* Reserved. Must only be used for the Info alert component. */
  --color-surface-warning: var(--themes-bank-of-melbourne-color-warning-400); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-warning-faint: var(--themes-bank-of-melbourne-color-warning-900); /* Reserved. Must only be used for the Warning alert component. */
  --color-surface-danger: var(--themes-bank-of-melbourne-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-danger-faint: var(--themes-bank-of-melbourne-color-danger-900); /* Reserved. Must only be used for the Danger alert component. */
  --color-surface-system-error: var(--themes-bank-of-melbourne-color-system-950); /* Reserved. Must only be used for the System alert component. */
  --color-surface-system-error-dark: var(--themes-bank-of-melbourne-color-system-500); /* Reserved. Must only be used for the System messaging component. */
  --color-surface-mono: var(--themes-bank-of-melbourne-color-mono-black); /* Mono is either White or Black */
  --color-surface-reversed: var(--themes-bank-of-melbourne-color-mono-white); /* Reserved is always white. */
  --color-text-body: var(--themes-bank-of-melbourne-color-text-body-dm); /* Replaces current style: Text */
  --color-text-heading: var(--themes-bank-of-melbourne-color-text-heading-dm); /* Replaces current style: Heading */
  --color-text-muted: var(--themes-bank-of-melbourne-color-muted-400); /* Replaces current style: Muted */
  --color-text-primary: var(--themes-bank-of-melbourne-color-primary-300); /* Replaces current style: Primary */
  --color-text-hero: var(--themes-bank-of-melbourne-color-text-hero-dm); /* Replaces current style: Hero. Note: This is not the same as text-heading as it behaves differently in other brands. */
  --color-text-holler: var(--themes-bank-of-melbourne-color-holler-300); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-text-link: var(--themes-bank-of-melbourne-color-primary-300); /* Replaces current style: Link */
  --color-text-success: var(--themes-bank-of-melbourne-color-success-300); /* Reserved. Must only be used for the Success alert component. */
  --color-text-info: var(--themes-bank-of-melbourne-color-info-300); /* Reserved. Must only be used for the Info alert component. */
  --color-text-warning: var(--themes-bank-of-melbourne-color-warning-300); /* Reserved. Must only be used for the Warning alert component. */
  --color-text-danger: var(--themes-bank-of-melbourne-color-danger-300); /* Reserved. Must only be used for the Danger alert component. */
  --color-text-system-error: var(--themes-bank-of-melbourne-color-system-500); /* Reserved. Must only be used for the System alert component. */
  --color-text-mono: var(--themes-bank-of-melbourne-color-mono-black); /* Mono text is either White or Black */
  --color-text-reversed: var(--themes-bank-of-melbourne-color-mono-white); /* Reversed text is always white */
  --color-border-muted: var(--themes-bank-of-melbourne-color-muted-500); /* Reserved. Do not use */
  --color-border-muted-strong: var(--themes-bank-of-melbourne-color-muted-500); /* Replaces current style: Border Dark */
  --color-border-muted-mild: var(--themes-bank-of-melbourne-color-muted-700); /* Reserved. Do not use */
  --color-border-muted-soft: var(--themes-bank-of-melbourne-color-muted-800); /* Replaces current style: Muted */
  --color-border-hero: var(--themes-bank-of-melbourne-color-hero-300); /* Replaces current style: Hero */
  --color-border-primary: var(--themes-bank-of-melbourne-color-primary-400); /* Replaces current style: Primary */
  --color-border-pop: var(--themes-bank-of-melbourne-color-pop-800); /* Replaces current style: Pop. Embellishment only, use sparingly and in accordance with the brand guidelines. */
  --color-border-holler: var(--themes-bank-of-melbourne-color-holler-400); /* CAUTION: GEL can not endorse the use of this colour token until it's approved and documented as part of the Master Brand. */
  --color-border-sing: var(--themes-bank-of-melbourne-color-sing-500); /* Reserved. Do not use */
  --color-border-dance: var(--themes-bank-of-melbourne-color-dance-500); /* Reserved. Do not use */
  --color-border-success: var(--themes-bank-of-melbourne-color-success-500); /* Reserved. Must only be used for the Success alert component. */
  --color-border-success-mild: var(--themes-bank-of-melbourne-color-success-700); /* Reserved. Must only be used for the Success alert component. */
  --color-border-info: var(--themes-bank-of-melbourne-color-info-500); /* Reserved. Must only be used for the Info alert component. */
  --color-border-info-mild: var(--themes-bank-of-melbourne-color-info-700); /* Reserved. Must only be used for the Info alert component. */
  --color-border-warning: var(--themes-bank-of-melbourne-color-warning-500); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-warning-mild: var(--themes-bank-of-melbourne-color-warning-700); /* Reserved. Must only be used for the Warning alert component. */
  --color-border-danger: var(--themes-bank-of-melbourne-color-danger-500); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-danger-mild: var(--themes-bank-of-melbourne-color-danger-700); /* Reserved. Must only be used for the Danger alert component. */
  --color-border-mono: var(--themes-bank-of-melbourne-color-mono-black); /* Mono border is either White or Black */
  --color-border-focus: var(--themes-bank-of-melbourne-color-holler-400); /* Reserved. Only for use with focus state keyboard navigation. */
  --color-data-a-solid: var(--themes-bank-of-melbourne-color-primary-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-tint: var(--themes-bank-of-melbourne-color-primary-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-a-opacity: var(--themes-bank-of-melbourne-color-primary-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-solid: var(--themes-bank-of-melbourne-color-hero-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-tint: var(--themes-bank-of-melbourne-color-hero-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-b-opacity: var(--themes-bank-of-melbourne-color-hero-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-solid: var(--themes-bank-of-melbourne-color-pop-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-tint: var(--themes-bank-of-melbourne-color-pop-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-c-opacity: var(--themes-bank-of-melbourne-color-pop-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-solid: var(--themes-bank-of-melbourne-color-holler-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-tint: var(--themes-bank-of-melbourne-color-holler-200); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-d-opacity: var(--themes-bank-of-melbourne-color-holler-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-solid: var(--themes-bank-of-melbourne-color-sing-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-tint: var(--themes-bank-of-melbourne-color-sing-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-e-opacity: var(--themes-bank-of-melbourne-color-sing-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-solid: var(--themes-bank-of-melbourne-color-dance-500); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-tint: var(--themes-bank-of-melbourne-color-dance-300); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-data-f-opacity: var(--themes-bank-of-melbourne-color-dance-opacity); /* This is a reserved colour. It must only be used for data visualisation - graphs and charts. */
  --color-surface-pictogram-base: var(--themes-bank-of-melbourne-color-surface-pictogram-base-dm); /* Reserved. Only for use on Pictograms. */
  --color-surface-pictogram-accent: var(--themes-bank-of-melbourne-color-surface-pictogram-accent-dm); /* Reserved. Only for use on Pictograms. */
  --color-surface-hover-primary: var(--themes-bank-of-melbourne-color-primary-200); /* This token is for hover states. */
  --color-surface-active-primary: var(--themes-bank-of-melbourne-color-primary-100);
  --color-surface-hover-hero: var(--themes-bank-of-melbourne-color-hero-200); /* This token is for hover states. */
  --color-surface-active-hero: var(--themes-bank-of-melbourne-color-hero-100); /* This token is for hover states. */
  --color-surface-hover-primary-faint: var(--themes-bank-of-melbourne-color-primary-900); /* This token is for hover states. */
  --color-surface-active-primary-faint: var(--themes-bank-of-melbourne-color-primary-800); /* This token is for hover states. */
  --color-surface-hover-hero-faint: var(--themes-bank-of-melbourne-color-hero-800);
  --color-surface-active-hero-faint: var(--themes-bank-of-melbourne-color-hero-400);
  --color-surface-hover-muted-pale: var(--themes-bank-of-melbourne-color-muted-800); /* This token is for hover states. */
  --color-surface-active-muted-pale: var(--themes-bank-of-melbourne-color-muted-600); /* This token is for hover states. */
  --color-surface-hover-mono: var(--themes-bank-of-melbourne-color-mono-black); /* This token is for hover states. */
  --color-surface-active-mono: var(--themes-bank-of-melbourne-color-muted-800); /* This token is for hover states. */
  --border-rounded-none: var(--themes-bank-of-melbourne-border-radius-none);
  --border-rounded-sm: var(--themes-bank-of-melbourne-border-radius-sm);
  --border-rounded-md: var(--themes-bank-of-melbourne-border-radius-md);
  --border-rounded-lg: var(--themes-bank-of-melbourne-border-radius-lg);
  --border-rounded-xl: var(--themes-bank-of-melbourne-border-radius-xl);
  --border-rounded-2xl: var(--themes-bank-of-melbourne-border-radius-2xl);
  --border-rounded-3xl: var(--themes-bank-of-melbourne-border-radius-3xl);
  --border-rounded-4xl: var(--themes-bank-of-melbourne-border-radius-4xl);
  --border-rounded-5xl: var(--themes-bank-of-melbourne-border-radius-5xl);
  --border-rounded-full: var(--themes-bank-of-melbourne-border-radius-full);
}

