name: Release

on:
  push:
    branches:
      - main
      - release/**
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  issues: read
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v3
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'

      - name: Ensure npm is up to date
        run: npm install -g npm@latest

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9.1.2

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish to npm
        uses: changesets/action@v1
        with:
          publish: pnpm ci:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
