@custom-variant bsa (&:where([data-brand=bsa], [data-brand=bsa] *));

@layer theme {
    [data-brand="bsa"] {
      /* Primitive Colors */
      --bsa-grey-50: #f9f9fa;
      --bsa-grey-100: #f5f5f6;
      --bsa-grey-200: #dedee1;
      --bsa-grey-300: #b6b6bc;
      --bsa-grey-400: #8e8d98;
      --bsa-grey-500: #706f7c;
      --bsa-grey-600: #5b5b6a;
      --bsa-grey-700: #464651;
      --bsa-grey-800: #323238;
      --bsa-grey-900: #1c1c1f;
      --bsa-grey-950: #161619;
      --bsa-desert-50: #fef0f1;
      --bsa-desert-100: #fccbcc;
      --bsa-desert-200: #f96a6f;
      --bsa-desert-300: #f9434f;
      --bsa-desert-400: #ed1f30;
      --bsa-desert-500: #d81b2b;
      --bsa-desert-600: #b61523;
      --bsa-desert-700: #98101b;
      --bsa-desert-800: #7a0a14;
      --bsa-desert-900: #56050b;
      --bsa-desert-950: #380205;
      --bsa-desert-opacity: rgba(216, 27, 43, 0.5);
      --bsa-ocean-50: #e9f1fb;
      --bsa-ocean-100: #b5d0f2;
      --bsa-ocean-200: #4c8de1;
      --bsa-ocean-300: #2574da;
      --bsa-ocean-400: #1050a2;
      --bsa-ocean-500: #002f6c;
      --bsa-ocean-600: #00285e;
      --bsa-ocean-700: #002657;
      --bsa-ocean-800: #001f47;
      --bsa-ocean-900: #001b3d;
      --bsa-ocean-950: #001838;
      --bsa-ocean-opacity: rgba(0, 47, 108, 0.55);
      --bsa-bight-50: #e3fafc;
      --bsa-bight-100: #c1f6fa;
      --bsa-bight-200: #69ebf7;
      --bsa-bight-300: #09d9ec;
      --bsa-bight-400: #00c9db;
      --bsa-bight-500: #00adbd;
      --bsa-bight-600: #00919e;
      --bsa-bight-700: #007580;
      --bsa-bight-800: #00545c;
      --bsa-bight-900: #00383d;
      --bsa-bight-950: #002529;
      --bsa-bight-opacity: rgba(0, 173, 189, 0.5);
      --bsa-gum-50: #eff9ec;
      --bsa-gum-100: #d2edc9;
      --bsa-gum-200: #b5e2a7;
      --bsa-gum-300: #95d581;
      --bsa-gum-400: #78ca5e;
      --bsa-gum-500: #5cbb3e;
      --bsa-gum-600: #4d9d34;
      --bsa-gum-700: #3c7b29;
      --bsa-gum-800: #2d5c1e;
      --bsa-gum-900: #1e3d14;
      --bsa-gum-950: #172e0f;
      --bsa-gum-opacity: rgba(92, 187, 62, 0.5);
      --bsa-outback-50: #fef1e1;
      --bsa-outback-100: #fde0bf;
      --bsa-outback-200: #fbcd98;
      --bsa-outback-300: #faba70;
      --bsa-outback-400: #f8a444;
      --bsa-outback-500: #f7921e;
      --bsa-outback-600: #d97708;
      --bsa-outback-700: #ac5f06;
      --bsa-outback-800: #7b4404;
      --bsa-outback-900: #4a2903;
      --bsa-outback-950: #311b02;
      --bsa-outback-opacity: rgba(247, 146, 30, 0.5);
      --bsa-grape-50: #fbeef6;
      --bsa-grape-100: #f4cce3;
      --bsa-grape-200: #e689bd;
      --bsa-grape-300: #db529e;
      --bsa-grape-400: #cf2b86;
      --bsa-grape-500: #a22269;
      --bsa-grape-600: #871c57;
      --bsa-grape-700: #6e1747;
      --bsa-grape-800: #541237;
      --bsa-grape-900: #3b0c26;
      --bsa-grape-950: #2e0a1e;
      --bsa-grape-opacity: rgba(162, 34, 105, 0.5);

      /* Theme Colors */
      --text-body-lm: var(--bsa-grey-800);
      --text-body-dm: var(--muted-200);
      --text-heading-lm: var(--hero-500);
      --text-heading-dm: var(--hero-200);
      --text-hero-lm: var(--hero-500);
      --text-hero-dm: var(--hero-200);
      --surface-pictogram-base-lm: var(--hero-500);
      --surface-pictogram-base-dm: var(--hero-300);
      --surface-pictogram-accent-lm: var(--pop-500);
      --surface-pictogram-accent-dm: var(--pop-300);
      --surface-muted-vivid-lm: var(--bsa-grey-800);
      --surface-muted-vivid-dm: var(--muted-50);
      --muted-50: var(--bom-grey-50);
      --muted-100: var(--bom-grey-100);
      --muted-200: var(--bom-grey-200);
      --muted-300: var(--bom-grey-300);
      --muted-400: var(--bom-grey-400);
      --muted-500: var(--bom-grey-500);
      --muted-600: var(--bom-grey-600);
      --muted-700: var(--bom-grey-700);
      --muted-800: var(--bom-grey-800);
      --muted-900: var(--bom-grey-900);
      --muted-950: var(--bom-grey-950);
      --primary-50: var(--bsa-desert-50);
      --primary-100: var(--bsa-desert-100);
      --primary-200: var(--bsa-desert-200);
      --primary-300: var(--bsa-desert-300);
      --primary-400: var(--bsa-desert-400);
      --primary-500: var(--bsa-desert-500);
      --primary-600: var(--bsa-desert-600);
      --primary-700: var(--bsa-desert-700);
      --primary-800: var(--bsa-desert-800);
      --primary-900: var(--bsa-desert-900);
      --primary-950: var(--bsa-desert-950);
      --primary-opacity: var(--bsa-desert-opacity);
      --hero-50: var(--bsa-ocean-50);
      --hero-100: var(--bsa-ocean-100);
      --hero-200: var(--bsa-ocean-200);
      --hero-300: var(--bsa-ocean-300);
      --hero-400: var(--bsa-ocean-400);
      --hero-500: var(--bsa-ocean-500);
      --hero-600: var(--bsa-ocean-600);
      --hero-700: var(--bsa-ocean-700);
      --hero-800: var(--bsa-ocean-800);
      --hero-900: var(--bsa-ocean-900);
      --hero-950: var(--bsa-ocean-950);
      --hero-opacity: var(--bsa-ocean-opacity);
      --pop-50: var(--bsa-bight-50);
      --pop-100: var(--bsa-bight-100);
      --pop-200: var(--bsa-bight-200);
      --pop-300: var(--bsa-bight-300);
      --pop-400: var(--bsa-bight-400);
      --pop-500: var(--bsa-bight-500);
      --pop-600: var(--bsa-bight-600);
      --pop-700: var(--bsa-bight-700);
      --pop-800: var(--bsa-bight-800);
      --pop-900: var(--bsa-bight-900);
      --pop-950: var(--bsa-bight-950);
      --pop-opacity: var(--bsa-bight-opacity);
      --holler-50: var(--bsa-grape-50);
      --holler-100: var(--bsa-grape-100);
      --holler-200: var(--bsa-grape-200);
      --holler-300: var(--bsa-grape-300);
      --holler-400: var(--bsa-grape-400);
      --holler-500: var(--bsa-grape-500);
      --holler-600: var(--bsa-grape-600);
      --holler-700: var(--bsa-grape-700);
      --holler-800: var(--bsa-grape-800);
      --holler-900: var(--bsa-grape-900);
      --holler-950: var(--bsa-grape-950);
      --holler-opacity: var(--bsa-grape-opacity);
      --sing-50: var(--bsa-gum-50);
      --sing-100: var(--bsa-gum-100);
      --sing-200: var(--bsa-gum-200);
      --sing-300: var(--bsa-gum-300);
      --sing-400: var(--bsa-gum-400);
      --sing-500: var(--bsa-gum-500);
      --sing-600: var(--bsa-gum-600);
      --sing-700: var(--bsa-gum-700);
      --sing-800: var(--bsa-gum-800);
      --sing-900: var(--bsa-gum-900);
      --sing-950: var(--bsa-gum-950);
      --sing-opacity: var(--bsa-gum-opacity);
      --dance-50: var(--bsa-outback-50);
      --dance-100: var(--bsa-outback-100);
      --dance-200: var(--bsa-outback-200);
      --dance-300: var(--bsa-outback-300);
      --dance-400: var(--bsa-outback-400);
      --dance-500: var(--bsa-outback-500);
      --dance-600: var(--bsa-outback-600);
      --dance-700: var(--bsa-outback-700);
      --dance-800: var(--bsa-outback-800);
      --dance-900: var(--bsa-outback-900);
      --dance-950: var(--bsa-outback-950);
      --dance-opacity: var(--bsa-outback-opacity);
      --mono-white: #ffffff;
      --mono-black: #000000;
      --reserved-success-50: var(--reserved-green-50);
      --reserved-success-100: var(--reserved-green-100);
      --reserved-success-200: var(--reserved-green-200);
      --reserved-success-300: var(--reserved-green-300);
      --reserved-success-400: var(--reserved-green-400);
      --reserved-success-500: var(--reserved-green-500);
      --reserved-success-600: var(--reserved-green-600);
      --reserved-success-700: var(--reserved-green-700);
      --reserved-success-800: var(--reserved-green-800);
      --reserved-success-900: var(--reserved-green-900);
      --reserved-success-950: var(--reserved-green-950);
      --reserved-info-50: var(--reserved-blue-50);
      --reserved-info-100: var(--reserved-blue-100);
      --reserved-info-200: var(--reserved-blue-200);
      --reserved-info-300: var(--reserved-blue-300);
      --reserved-info-400: var(--reserved-blue-400);
      --reserved-info-500: var(--reserved-blue-500);
      --reserved-info-600: var(--reserved-blue-600);
      --reserved-info-700: var(--reserved-blue-700);
      --reserved-info-800: var(--reserved-blue-800);
      --reserved-info-900: var(--reserved-blue-900);
      --reserved-info-950: var(--reserved-blue-950);
      --reserved-warning-50: var(--reserved-orange-50);
      --reserved-warning-100: var(--reserved-orange-100);
      --reserved-warning-200: var(--reserved-orange-200);
      --reserved-warning-300: var(--reserved-orange-300);
      --reserved-warning-400: var(--reserved-orange-400);
      --reserved-warning-500: var(--reserved-orange-500);
      --reserved-warning-600: var(--reserved-orange-600);
      --reserved-warning-700: var(--reserved-orange-700);
      --reserved-warning-800: var(--reserved-orange-800);
      --reserved-warning-900: var(--reserved-orange-900);
      --reserved-warning-950: var(--reserved-orange-950);
      --reserved-danger-50: var(--reserved-red-50);
      --reserved-danger-100: var(--reserved-red-100);
      --reserved-danger-200: var(--reserved-red-200);
      --reserved-danger-300: var(--reserved-red-300);
      --reserved-danger-400: var(--reserved-red-400);
      --reserved-danger-500: var(--reserved-red-500);
      --reserved-danger-600: var(--reserved-red-600);
      --reserved-danger-700: var(--reserved-red-700);
      --reserved-danger-800: var(--reserved-red-800);
      --reserved-danger-900: var(--reserved-red-900);
      --reserved-danger-950: var(--reserved-red-950);
      --reserved-system-50: var(--reserved-yellow-50);
      --reserved-system-100: var(--reserved-yellow-100);
      --reserved-system-200: var(--reserved-yellow-200);
      --reserved-system-300: var(--reserved-yellow-300);
      --reserved-system-400: var(--reserved-yellow-400);
      --reserved-system-500: var(--reserved-yellow-500);
      --reserved-system-600: var(--reserved-yellow-600);
      --reserved-system-700: var(--reserved-yellow-700);
      --reserved-system-800: var(--reserved-yellow-800);
      --reserved-system-900: var(--reserved-yellow-900);
      --reserved-system-950: var(--reserved-yellow-950);

      /* Theme Border Radius */
      --border-radius-none: var(--border-radius-none);
      --border-radius-sm: var(--border-radius-3);
      --border-radius-md: var(--border-radius-4);
      --border-radius-lg: var(--border-radius-5);
      --border-radius-xl: var(--border-radius-6);
      --border-radius-2xl: var(--border-radius-8);
      --border-radius-3xl: var(--border-radius-12);
      --border-radius-4xl: var(--border-radius-16);
      --border-radius-5xl: var(--border-radius-24);
      --border-radius-full: var(--border-radius-full);

      /* Font Family */
      --font-brand: BSA Font;
    }
}