@custom-variant stg (&:where([data-brand=stg], [data-brand=stg] *));

@layer theme {
    [data-brand="stg"] {
      /* Primitive Colors */
      --stg-grey-50: #f9f9f9;
      --stg-grey-100: #f5f5f4;
      --stg-grey-200: #e1e1e0;
      --stg-grey-300: #b2b2ae;
      --stg-grey-400: #8d8c81;
      --stg-grey-500: #727163;
      --stg-grey-600: #5e5d55;
      --stg-grey-700: #4c4c48;
      --stg-grey-800: #393937;
      --stg-grey-900: #1c1c1c;
      --stg-grey-950: #141414;
      --stg-red-50: #fff0f0;
      --stg-red-100: #ffc7c7;
      --stg-red-200: #f87272;
      --stg-red-300: #f44343;
      --stg-red-400: #f21818;
      --stg-red-500: #e30000;
      --stg-red-600: #bc0000;
      --stg-red-700: #980000;
      --stg-red-800: #750000;
      --stg-red-900: #5b0000;
      --stg-red-950: #380000;
      --stg-red-opacity: rgba(227, 0, 0, 0.3);
      --stg-access-green-50: #ecf8f0;
      --stg-access-green-100: #c2eace;
      --stg-access-green-200: #6dcb89;
      --stg-access-green-300: #2fa854;
      --stg-access-green-400: #219d4b;
      --stg-access-green-500: #008739;
      --stg-access-green-600: #007334;
      --stg-access-green-700: #005f32;
      --stg-access-green-800: #004833;
      --stg-access-green-900: #003323;
      --stg-access-green-950: #002a1c;
      --stg-access-green-opacity: rgba(0, 135, 57, 0.45);
      --stg-green-50: #f1fbe5;
      --stg-green-100: #e5f7cf;
      --stg-green-200: #c2ec8e;
      --stg-green-300: #abe562;
      --stg-green-400: #93d83b;
      --stg-green-500: #78be20;
      --stg-green-600: #619b18;
      --stg-green-700: #4b7910;
      --stg-green-800: #365909;
      --stg-green-900: #223b04;
      --stg-green-950: #132402;
      --stg-green-opacity: rgba(120, 190, 32, 0.45);
      --stg-sky-50: #edf8fe;
      --stg-sky-100: #e1f4fe;
      --stg-sky-200: #b9e6fc;
      --stg-sky-300: #91dcfb;
      --stg-sky-400: #5ad2fa;
      --stg-sky-500: #3fc3eb;
      --stg-sky-600: #319cbd;
      --stg-sky-700: #23768f;
      --stg-sky-800: #155264;
      --stg-sky-900: #09303c;
      --stg-sky-950: #04212a;
      --stg-sky-opacity: rgba(63, 195, 235, 0.3);
      --stg-plum-50: #f5f2fb;
      --stg-plum-100: #e6dff5;
      --stg-plum-200: #bba3e2;
      --stg-plum-300: #9b73d2;
      --stg-plum-400: #7947b4;
      --stg-plum-500: #502d79;
      --stg-plum-600: #46276b;
      --stg-plum-700: #3e225f;
      --stg-plum-800: #341b50;
      --stg-plum-900: #2c1645;
      --stg-plum-950: #27133e;
      --stg-plum-opacity: rgba(80, 45, 121, 0.3);
      --stg-amber-50: #fff3eb;
      --stg-amber-100: #ffe7d6;
      --stg-amber-200: #ffcba8;
      --stg-amber-300: #ffb380;
      --stg-amber-400: #ff9752;
      --stg-amber-500: #ff7f29;
      --stg-amber-600: #cf6200;
      --stg-amber-700: #9d4800;
      --stg-amber-800: #6e3100;
      --stg-amber-900: #421a00;
      --stg-amber-950: #2c0f00;
      --stg-amber-opacity: rgba(255, 127, 41, 0.4);
      --stg-yellow-50: #fffae5;
      --stg-yellow-100: #fff5cc;
      --stg-yellow-200: #ffeb99;
      --stg-yellow-300: #ffe166;
      --stg-yellow-400: #ffd733;
      --stg-yellow-500: #ffcd00;
      --stg-yellow-600: #cca400;
      --stg-yellow-700: #997b00;
      --stg-yellow-800: #665200;
      --stg-yellow-900: #332900;
      --stg-yellow-950: #1a1500;

      /* Theme Colors */
      --text-body-lm: var(--hero-800);
      --text-body-dm: var(--muted-200);
      --text-heading-lm: var(--hero-600);
      --text-heading-dm: var(--hero-300);
      --text-hero-lm: var(--hero-600);
      --text-hero-dm: var(--hero-300);
      --surface-pictogram-base-lm: var(--hero-800);
      --surface-pictogram-base-dm: var(--hero-400);
      --surface-pictogram-accent-lm: var(--pop-500);
      --surface-pictogram-accent-dm: var(--pop-400);
      --surface-muted-vivid-lm: var(--hero-800);
      --surface-muted-vivid-dm: var(--muted-50);
      --muted-50: var(--stg-grey-50);
      --muted-100: var(--stg-grey-100);
      --muted-200: var(--stg-grey-200);
      --muted-300: var(--stg-grey-300);
      --muted-400: var(--stg-grey-400);
      --muted-500: var(--stg-grey-500);
      --muted-600: var(--stg-grey-600);
      --muted-700: var(--stg-grey-700);
      --muted-800: var(--stg-grey-800);
      --muted-900: var(--stg-grey-900);
      --muted-950: var(--stg-grey-950);
      --primary-50: var(--stg-red-50);
      --primary-100: var(--stg-red-100);
      --primary-200: var(--stg-red-200);
      --primary-300: var(--stg-red-300);
      --primary-400: var(--stg-red-400);
      --primary-500: var(--stg-red-500);
      --primary-600: var(--stg-red-600);
      --primary-700: var(--stg-red-700);
      --primary-800: var(--stg-red-800);
      --primary-900: var(--stg-red-900);
      --primary-950: var(--stg-red-950);
      --primary-opacity: var(--stg-red-opacity);
      --hero-50: var(--stg-access-green-50);
      --hero-100: var(--stg-access-green-100);
      --hero-200: var(--stg-access-green-200);
      --hero-300: var(--stg-access-green-300);
      --hero-400: var(--stg-access-green-400);
      --hero-500: var(--stg-access-green-500);
      --hero-600: var(--stg-access-green-600);
      --hero-700: var(--stg-access-green-700);
      --hero-800: var(--stg-access-green-800);
      --hero-900: var(--stg-access-green-900);
      --hero-950: var(--stg-access-green-950);
      --hero-opacity: var(--stg-access-green-opacity);
      --pop-50: var(--stg-green-50);
      --pop-100: var(--stg-green-100);
      --pop-200: var(--stg-green-200);
      --pop-300: var(--stg-green-300);
      --pop-400: var(--stg-green-400);
      --pop-500: var(--stg-green-500);
      --pop-600: var(--stg-green-600);
      --pop-700: var(--stg-green-700);
      --pop-800: var(--stg-green-800);
      --pop-900: var(--stg-green-900);
      --pop-950: var(--stg-green-950);
      --pop-opacity: var(--stg-green-opacity);
      --holler-50: var(--stg-plum-50);
      --holler-100: var(--stg-plum-100);
      --holler-200: var(--stg-plum-200);
      --holler-300: var(--stg-plum-300);
      --holler-400: var(--stg-plum-400);
      --holler-500: var(--stg-plum-500);
      --holler-600: var(--stg-plum-600);
      --holler-700: var(--stg-plum-700);
      --holler-800: var(--stg-plum-800);
      --holler-900: var(--stg-plum-900);
      --holler-950: var(--stg-plum-950);
      --holler-opacity: var(--stg-plum-opacity);
      --sing-50: var(--stg-sky-50);
      --sing-100: var(--stg-sky-100);
      --sing-200: var(--stg-sky-200);
      --sing-300: var(--stg-sky-300);
      --sing-400: var(--stg-sky-400);
      --sing-500: var(--stg-sky-500);
      --sing-600: var(--stg-sky-600);
      --sing-700: var(--stg-sky-700);
      --sing-800: var(--stg-sky-800);
      --sing-900: var(--stg-sky-900);
      --sing-950: var(--stg-sky-950);
      --sing-opacity: var(--stg-sky-opacity);
      --dance-50: var(--stg-amber-50);
      --dance-100: var(--stg-amber-100);
      --dance-200: var(--stg-amber-200);
      --dance-300: var(--stg-amber-300);
      --dance-400: var(--stg-amber-400);
      --dance-500: var(--stg-amber-500);
      --dance-600: var(--stg-amber-600);
      --dance-700: var(--stg-amber-700);
      --dance-800: var(--stg-amber-800);
      --dance-900: var(--stg-amber-900);
      --dance-950: var(--stg-amber-950);
      --dance-opacity: var(--stg-amber-opacity);
      --mono-white: #ffffff;
      --mono-black: #000000;
      --reserved-success-50: var(--reserved-green-50);
      --reserved-success-100: var(--reserved-green-100);
      --reserved-success-200: var(--reserved-green-200);
      --reserved-success-300: var(--reserved-green-300);
      --reserved-success-400: var(--reserved-green-400);
      --reserved-success-500: var(--reserved-green-500);
      --reserved-success-600: var(--reserved-green-600);
      --reserved-success-700: var(--reserved-green-700);
      --reserved-success-800: var(--reserved-green-800);
      --reserved-success-900: var(--reserved-green-900);
      --reserved-success-950: var(--reserved-green-950);
      --reserved-info-50: var(--reserved-blue-50);
      --reserved-info-100: var(--reserved-blue-100);
      --reserved-info-200: var(--reserved-blue-200);
      --reserved-info-300: var(--reserved-blue-300);
      --reserved-info-400: var(--reserved-blue-400);
      --reserved-info-500: var(--reserved-blue-500);
      --reserved-info-600: var(--reserved-blue-600);
      --reserved-info-700: var(--reserved-blue-700);
      --reserved-info-800: var(--reserved-blue-800);
      --reserved-info-900: var(--reserved-blue-900);
      --reserved-info-950: var(--reserved-blue-950);
      --reserved-warning-50: var(--reserved-orange-50);
      --reserved-warning-100: var(--reserved-orange-100);
      --reserved-warning-200: var(--reserved-orange-200);
      --reserved-warning-300: var(--reserved-orange-300);
      --reserved-warning-400: var(--reserved-orange-400);
      --reserved-warning-500: var(--reserved-orange-500);
      --reserved-warning-600: var(--reserved-orange-600);
      --reserved-warning-700: var(--reserved-orange-700);
      --reserved-warning-800: var(--reserved-orange-800);
      --reserved-warning-900: var(--reserved-orange-900);
      --reserved-warning-950: var(--reserved-orange-950);
      --reserved-danger-50: var(--reserved-red-50);
      --reserved-danger-100: var(--reserved-red-100);
      --reserved-danger-200: var(--reserved-red-200);
      --reserved-danger-300: var(--reserved-red-300);
      --reserved-danger-400: var(--reserved-red-400);
      --reserved-danger-500: var(--reserved-red-500);
      --reserved-danger-600: var(--reserved-red-600);
      --reserved-danger-700: var(--reserved-red-700);
      --reserved-danger-800: var(--reserved-red-800);
      --reserved-danger-900: var(--reserved-red-900);
      --reserved-danger-950: var(--reserved-red-950);
      --reserved-system-50: var(--reserved-yellow-50);
      --reserved-system-100: var(--reserved-yellow-100);
      --reserved-system-200: var(--reserved-yellow-200);
      --reserved-system-300: var(--reserved-yellow-300);
      --reserved-system-400: var(--reserved-yellow-400);
      --reserved-system-500: var(--reserved-yellow-500);
      --reserved-system-600: var(--reserved-yellow-600);
      --reserved-system-700: var(--reserved-yellow-700);
      --reserved-system-800: var(--reserved-yellow-800);
      --reserved-system-900: var(--reserved-yellow-900);
      --reserved-system-950: var(--reserved-yellow-950);

      /* Theme Border Radius */
      --border-radius-none: var(--border-radius-none);
      --border-radius-sm: var(--border-radius-3);
      --border-radius-md: var(--border-radius-4);
      --border-radius-lg: var(--border-radius-5);
      --border-radius-xl: var(--border-radius-6);
      --border-radius-2xl: var(--border-radius-8);
      --border-radius-3xl: var(--border-radius-12);
      --border-radius-4xl: var(--border-radius-16);
      --border-radius-5xl: var(--border-radius-24);
      --border-radius-full: var(--border-radius-full);

      /* Font Family */
      --font-brand: Dragon Bold;
    }
}